.OK-domain {
    color: green;
}

.KO-domain {
    color: red;
}

.googleinstances {
    font-weight: bold;
}

#search-start, #OK-wrapper, #KO-wrapper {
    margin-bottom: 50px;
}

#OK-wrapper, #KO-wrapper {
    background: black;
}

#OK-wrapper th, #KO-wrapper th {
    background: #ddd;
    padding: 5px;
    font-weight: bold;
}

#OK-wrapper tr td, #KO-wrapper tr td {
    margin-bottom: 100px;
    background: white;
    padding: 5px;
}

#searching {
    margin-bottom: 10px;
}

.progress {
    display: inline-block;
    background: green;
    height: 100%;
}

.progressbar {
    display: inline-block;
    background: #ccc;
    border: 1px solid black;
    width: 100%;
    height: 22px;
    position: relative;
}

.percent {
    line-height: 18px;
    display: inline-block;
    width: auto;
    position: absolute;
    top:2px;
    left:14px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 0.8em;
}

.message {
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

#userbox {
    display: block;
    float: left;
    width: 320px;
    padding: 10px;
    background: #ddffdd;
}

#KO-wrapper {
    float: left;
    display: none;
    width: 400px;
    padding: 10px;
    background: #fdd;
}

#OK-wrapper {
    display: none;
    width: 400px;
    padding: 10px;
    float: left;
    background: #ddf;
}

#OK-wrapper td, #KO-wrapper td {
    font-family: "Courier New", "Courier", "Monospaced";
    font-size: 0.8em;
}

#KO-wrapper .email {
    font-family: "Courier New", "Courier", "Monospaced";
    font-size: 0.7em;
}

#KO-wrapper, #OK-wrapper, #userbox, #window {
    background: white;
    border: 1px solid #ddd;
    margin: 10px;
}

.email {
    max-width: 120px;
    overflow-x: auto;
}

.nettaken-YES {
    background: #ddd;
    font-weight: bold;
}

.searchbox {
    background: #f4f4f4;
    padding: 10px;
    margin: 10px;
    border: 5px solid #ddd;
    border-radius: 20px;
    font-size: 0.8em;
    margin-bottom: 20px;
    float: left;
    width: 84%;
}

.searchbox .actions {

    float: right;
    margin-top: 11px;
}

.domainstring {
    background: #ccc;
    padding: 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    max-width: 100%;
    overflow:hidden;
}

.progress-numbers {
    margin-bottom: 8px;
}

.action {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    display: inline-block;
    background: #ddd;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.action#play {
    color: green;
}
.action#pause {
    color: black;
}
.action#close {
    color: red;
}

.favorite {
    color: orange;
    text-decoration: none;
}

.favorite.selected {
    color: gold;
}

.button {
    background: darkorange;
    padding: 6px;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

#window {
    display: none;
}
#window {
    float: left;
    width: 70%;
    background: #fafafa;
    padding: 8px;
    position: relative;
}

#window-close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: red;

    text-decoration: none;
    font-size: 0.8em;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-width: 8px;
}

#window-close:hover {
    background: #600;
}

ul.favorite-list {
    padding: 0;
    display: block;
    margin: 0;
}
.favorite-item {
    display: block;
    list-style: none;
    margin: 0;
    padding: 4px;
}

h2 {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    font-size: 1em;
    color: #558;
}

#software, #window, #results, #searches {
    background: white;
}


#startbox {
    width: 500px;
    margin: auto;
    text-align: center;
    position: relative;
}

#startbox input {
    font-size: 1.8em;
}

#logo {
    margin: auto;
    font-size: 5em;
    margin-bottom: 20px;
    margin-top: 30%;
}

#logosmall {
    font-size: 1.5em;

}



#key {
    margin-bottom: 20px;
}
#keyenter {
    margin-right: 20px;
    background: #ccc;

}

#needakey {
    background: #ccc;
}

#start-description {
    margin-top: 20px;
    line-height: 1.5em;
}