/* GRID in page TPL: header + #grid-main(max-height) + footer */
#grid-main {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 0;
}

body.grid.three-rows > header,
body.grid.three-rows > footer,
body.grid.three-rows #grid-main {
  grid-gap: 0;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--gap-size);
}
.grid > * {
  grid-column: auto / span 12; /* full-width column */
}
body.grid {
  grid-row-gap: 0;
}

.grid-dense {
  grid-auto-flow: dense;
}

/* RESPONSIVE */
/* MOBILE FIRST */

.grid-gap-0 {
  grid-gap: 0;
}
.grid-gap-1 {
  grid-gap: var(--gap-size);
}
.grid-gap-2 {
  grid-gap: calc(var(--gap-size) * 2);
}
.grid-gap-3 {
  grid-gap: calc(var(--gap-size) * 3);
}

.grid-column-gap-0 {
  grid-column-gap: 0;
}
.grid-column-gap-1 {
  grid-column-gap: var(--gap-size);
}
.grid-column-gap-2 {
  grid-column-gap: calc(var(--gap-size) * 2);
}
.grid-column-gap-3 {
  grid-column-gap: calc(var(--gap-size) * 3);
}

.grid-row-gap-0 {
  grid-row-gap: 0;
}
.grid-row-gap-1 {
  grid-row-gap: var(--gap-size);
}
.grid-row-gap-2 {
  grid-row-gap: calc(var(--gap-size) * 2);
}
.grid-row-gap-3 {
  grid-row-gap: calc(var(--gap-size) * 3);
}

.grid-start-1 {
  grid-column-start: 1;
}
.grid-start-2 {
  grid-column-start: 2;
}
.grid-start-3 {
  grid-column-start: 3;
}
.grid-start-4 {
  grid-column-start: 4;
}
.grid-start-5 {
  grid-column-start: 5;
}
.grid-start-6 {
  grid-column-start: 6;
}
.grid-start-6 {
  grid-column-start: 6;
}
.grid-start-7 {
  grid-column-start: 7;
}
.grid-start-8 {
  grid-column-start: 8;
}
.grid-start-9 {
  grid-column-start: 9;
}
.grid-start-10 {
  grid-column-start: 10;
}
.grid-start-11 {
  grid-column-start: 11;
}

.grid-row-start-1 {
  grid-row-start: 1;
}
.grid-row-start-2 {
  grid-row-start: 2;
}
.grid-row-start-3 {
  grid-row-start: 3;
}
.grid-row-start-4 {
  grid-row-start: 4;
}
.grid-row-start-5 {
  grid-row-start: 5;
}
.grid-row-start-6 {
  grid-row-start: 6;
}
.grid-row-start-6 {
  grid-row-start: 6;
}
.grid-row-start-7 {
  grid-row-start: 7;
}
.grid-row-start-8 {
  grid-row-start: 8;
}
.grid-row-start-9 {
  grid-row-start: 9;
}
.grid-row-start-10 {
  grid-row-start: 10;
}

.grid-span-1 {
  grid-column-end: span 1;
}
.grid-span-2 {
  grid-column-end: span 2;
}
.grid-span-3 {
  grid-column-end: span 3;
}
.grid-span-4 {
  grid-column-end: span 4;
}
.grid-span-5 {
  grid-column-end: span 5;
}
.grid-span-6 {
  grid-column-end: span 6;
}
.grid-span-7 {
  grid-column-end: span 7;
}
.grid-span-8 {
  grid-column-end: span 8;
}
.grid-span-9 {
  grid-column-end: span 9;
}
.grid-span-10 {
  grid-column-end: span 10;
}
.grid-span-11 {
  grid-column-end: span 11;
}
.grid-span-12 {
  grid-column-end: span 12;
}

.grid-row-span-1 {
  grid-row-end: span 1;
}
.grid-row-span-2 {
  grid-row-end: span 2;
}
.grid-row-span-3 {
  grid-row-end: span 3;
}
.grid-row-span-4 {
  grid-row-end: span 4;
}
.grid-row-span-5 {
  grid-row-end: span 5;
}
.grid-row-span-6 {
  grid-row-end: span 6;
}
.grid-row-span-7 {
  grid-row-end: span 7;
}
.grid-row-span-8 {
  grid-row-end: span 8;
}
.grid-row-span-9 {
  grid-row-end: span 9;
}
.grid-row-span-10 {
  grid-row-end: span 10;
}
.grid-row-span-11 {
  grid-row-end: span 11;
}
.grid-row-span-12 {
  grid-row-end: span 12;
}
/* md: Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .grid-gap-md-0 {
    grid-gap: 0;
  }
  .grid-gap-md-1 {
    grid-gap: var(--gap-size);
  }
  .grid-gap-md-2 {
    grid-gap: calc(var(--gap-size) * 2);
  }
  .grid-gap-md-3 {
    grid-gap: calc(var(--gap-size) * 3);
  }
  
  .grid-column-gap-md-0 {
    grid-column-gap: 0;
  }
  .grid-column-gap-md-1 {
    grid-column-gap: var(--gap-size);
  }
  .grid-column-gap-md-2 {
    grid-column-gap: calc(var(--gap-size) * 2);
  }
  .grid-column-gap-md-3 {
    grid-column-gap: calc(var(--gap-size) * 3);
  }
  
  .grid-row-gap-md-0 {
    grid-row-gap: 0;
  }
  .grid-row-gap-md-1 {
    grid-row-gap: var(--gap-size);
  }
  .grid-row-gap-md-2 {
    grid-row-gap: calc(var(--gap-size) * 2);
  }
  .grid-row-gap-md-3 {
    grid-row-gap: calc(var(--gap-size) * 3);
  }

  .grid-start-md-1 {
    grid-column-start: 1;
  }
  .grid-start-md-2 {
    grid-column-start: 2;
  }
  .grid-start-md-3 {
    grid-column-start: 3;
  }
  .grid-start-md-4 {
    grid-column-start: 4;
  }
  .grid-start-md-5 {
    grid-column-start: 5;
  }
  .grid-start-md-6 {
    grid-column-start: 6;
  }
  .grid-start-md-6 {
    grid-column-start: 6;
  }
  .grid-start-md-7 {
    grid-column-start: 7;
  }
  .grid-start-md-8 {
    grid-column-start: 8;
  }
  .grid-start-md-9 {
    grid-column-start: 9;
  }
  .grid-start-md-10 {
    grid-column-start: 10;
  }
  .grid-start-md-11 {
    grid-column-start: 11;
  }
  .grid-start-md-12 {
    grid-column-start: 12;
  }
  .grid-row-start-md-1 {
    grid-row-start: 1;
  }
  .grid-row-start-md-2 {
    grid-row-start: 2;
  }
  .grid-row-start-md-3 {
    grid-row-start: 3;
  }
  .grid-row-start-md-4 {
    grid-row-start: 4;
  }
  .grid-row-start-md-5 {
    grid-row-start: 5;
  }
  .grid-row-start-md-6 {
    grid-row-start: 6;
  }
  .grid-row-start-md-6 {
    grid-row-start: 6;
  }
  .grid-row-start-md-7 {
    grid-row-start: 7;
  }
  .grid-row-start-md-8 {
    grid-row-start: 8;
  }
  .grid-row-start-md-9 {
    grid-row-start: 9;
  }
  .grid-row-start-md-10 {
    grid-row-start: 10;
  }

  .grid-span-md-1 {
    grid-column-end: span 1;
  }
  .grid-span-md-2 {
    grid-column-end: span 2;
  }
  .grid-span-md-3 {
    grid-column-end: span 3;
  }
  .grid-span-md-4 {
    grid-column-end: span 4;
  }
  .grid-span-md-5 {
    grid-column-end: span 5;
  }
  .grid-span-md-6 {
    grid-column-end: span 6;
  }
  .grid-span-md-7 {
    grid-column-end: span 7;
  }
  .grid-span-md-8 {
    grid-column-end: span 8;
  }
  .grid-span-md-9 {
    grid-column-end: span 9;
  }
  .grid-span-md-10 {
    grid-column-end: span 10;
  }
  .grid-span-md-11 {
    grid-column-end: span 11;
  }
  .grid-span-md-12 {
    grid-column-end: span 12;
  }

  .grid-row-span-md-1 {
    grid-row-end: span 1;
  }
  .grid-row-span-md-2 {
    grid-row-end: span 2;
  }
  .grid-row-span-md-3 {
    grid-row-end: span 3;
  }
  .grid-row-span-md-4 {
    grid-row-end: span 4;
  }
  .grid-row-span-md-5 {
    grid-row-end: span 5;
  }
  .grid-row-span-md-6 {
    grid-row-end: span 6;
  }
  .grid-row-span-md-7 {
    grid-row-end: span 7;
  }
  .grid-row-span-md-8 {
    grid-row-end: span 8;
  }
  .grid-row-span-md-9 {
    grid-row-end: span 9;
  }
  .grid-row-span-md-10 {
    grid-row-end: span 10;
  }
  .grid-row-span-md-11 {
    grid-row-end: span 11;
  }
  .grid-row-span-md-12 {
    grid-row-end: span 12;
  }
}

/* lg: Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .grid-gap-lg-0 {
    grid-gap: 0;
  }
  .grid-gap-lg-1 {
    grid-gap: var(--gap-size);
  }
  .grid-gap-lg-2 {
    grid-gap: calc(var(--gap-size) * 2);
  }
  .grid-gap-lg-3 {
    grid-gap: calc(var(--gap-size) * 3);
  }
  
  .grid-column-gap-lg-0 {
    grid-column-gap: 0;
  }
  .grid-column-gap-lg-1 {
    grid-column-gap: var(--gap-size);
  }
  .grid-column-gap-lg-2 {
    grid-column-gap: calc(var(--gap-size) * 2);
  }
  .grid-column-gap-lg-3 {
    grid-column-gap: calc(var(--gap-size) * 3);
  }
  
  .grid-row-gap-lg-0 {
    grid-row-gap: 0;
  }
  .grid-row-gap-lg-1 {
    grid-row-gap: var(--gap-size);
  }
  .grid-row-gap-lg-2 {
    grid-row-gap: calc(var(--gap-size) * 2);
  }
  .grid-row-gap-lg-3 {
    grid-row-gap: calc(var(--gap-size) * 3);
  }

  .grid-start-lg-1 {
    grid-column-start: 1;
  }
  .grid-start-lg-2 {
    grid-column-start: 2;
  }
  .grid-start-lg-3 {
    grid-column-start: 3;
  }
  .grid-start-lg-4 {
    grid-column-start: 4;
  }
  .grid-start-lg-5 {
    grid-column-start: 5;
  }
  .grid-start-lg-6 {
    grid-column-start: 6;
  }
  .grid-start-lg-6 {
    grid-column-start: 6;
  }
  .grid-start-lg-7 {
    grid-column-start: 7;
  }
  .grid-start-lg-8 {
    grid-column-start: 8;
  }
  .grid-start-lg-9 {
    grid-column-start: 9;
  }
  .grid-start-lg-10 {
    grid-column-start: 10;
  }
  .grid-start-lg-11 {
    grid-column-start: 11;
  }

  .grid-row-start-lg-1 {
    grid-row-start: 1;
  }
  .grid-row-start-lg-2 {
    grid-row-start: 2;
  }
  .grid-row-start-lg-3 {
    grid-row-start: 3;
  }
  .grid-row-start-lg-4 {
    grid-row-start: 4;
  }
  .grid-row-start-lg-5 {
    grid-row-start: 5;
  }
  .grid-row-start-lg-6 {
    grid-row-start: 6;
  }
  .grid-row-start-lg-6 {
    grid-row-start: 6;
  }
  .grid-row-start-lg-7 {
    grid-row-start: 7;
  }
  .grid-row-start-lg-8 {
    grid-row-start: 8;
  }
  .grid-row-start-lg-9 {
    grid-row-start: 9;
  }
  .grid-row-start-lg-10 {
    grid-row-start: 10;
  }

  .grid-span-lg-1 {
    grid-column-end: span 1;
  }
  .grid-span-lg-2 {
    grid-column-end: span 2;
  }
  .grid-span-lg-3 {
    grid-column-end: span 3;
  }
  .grid-span-lg-4 {
    grid-column-end: span 4;
  }
  .grid-span-lg-5 {
    grid-column-end: span 5;
  }
  .grid-span-lg-6 {
    grid-column-end: span 6;
  }
  .grid-span-lg-7 {
    grid-column-end: span 7;
  }
  .grid-span-lg-8 {
    grid-column-end: span 8;
  }
  .grid-span-lg-9 {
    grid-column-end: span 9;
  }
  .grid-span-lg-10 {
    grid-column-end: span 10;
  }
  .grid-span-lg-11 {
    grid-column-end: span 11;
  }
  .grid-span-lg-12 {
    grid-column-end: span 12;
  }

  .grid-row-span-lg-1 {
    grid-row-end: span 1;
  }
  .grid-row-span-lg-2 {
    grid-row-end: span 2;
  }
  .grid-row-span-lg-3 {
    grid-row-end: span 3;
  }
  .grid-row-span-lg-4 {
    grid-row-end: span 4;
  }
  .grid-row-span-lg-5 {
    grid-row-end: span 5;
  }
  .grid-row-span-lg-6 {
    grid-row-end: span 6;
  }
  .grid-row-span-lg-7 {
    grid-row-end: span 7;
  }
  .grid-row-span-lg-8 {
    grid-row-end: span 8;
  }
  .grid-row-span-lg-9 {
    grid-row-end: span 9;
  }
  .grid-row-span-lg-10 {
    grid-row-end: span 10;
  }
}


/* xl: Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .grid-gap-xl-0 {
    grid-gap: 0;
  }
  .grid-gap-xl-1 {
    grid-gap: var(--gap-size);
  }
  .grid-gap-xl-2 {
    grid-gap: calc(var(--gap-size) * 2);
  }
  .grid-gap-xl-3 {
    grid-gap: calc(var(--gap-size) * 3);
  }
  
  .grid-column-gap-xl-0 {
    grid-column-gap: 0;
  }
  .grid-column-gap-xl-1 {
    grid-column-gap: var(--gap-size);
  }
  .grid-column-gap-xl-2 {
    grid-column-gap: calc(var(--gap-size) * 2);
  }
  .grid-column-gap-xl-3 {
    grid-column-gap: calc(var(--gap-size) * 3);
  }
  
  .grid-row-gap-xl-0 {
    grid-row-gap: 0;
  }
  .grid-row-gap-xl-1 {
    grid-row-gap: var(--gap-size);
  }
  .grid-row-gap-xl-2 {
    grid-row-gap: calc(var(--gap-size) * 2);
  }
  .grid-row-gap-xl-3 {
    grid-row-gap: calc(var(--gap-size) * 3);
  }

  .grid-start-xl-1 {
    grid-column-start: 1;
  }
  .grid-start-xl-2 {
    grid-column-start: 2;
  }
  .grid-start-xl-3 {
    grid-column-start: 3;
  }
  .grid-start-xl-4 {
    grid-column-start: 4;
  }
  .grid-start-xl-5 {
    grid-column-start: 5;
  }
  .grid-start-xl-6 {
    grid-column-start: 6;
  }
  .grid-start-xl-6 {
    grid-column-start: 6;
  }
  .grid-start-xl-7 {
    grid-column-start: 7;
  }
  .grid-start-xl-8 {
    grid-column-start: 8;
  }
  .grid-start-xl-9 {
    grid-column-start: 9;
  }
  .grid-start-xl-10 {
    grid-column-start: 10;
  }
  .grid-start-xl-11 {
    grid-column-start: 11;
  }

  .grid-row-start-xl-1 {
    grid-row-start: 1;
  }
  .grid-row-start-xl-2 {
    grid-row-start: 2;
  }
  .grid-row-start-xl-3 {
    grid-row-start: 3;
  }
  .grid-row-start-xl-4 {
    grid-row-start: 4;
  }
  .grid-row-start-xl-5 {
    grid-row-start: 5;
  }
  .grid-row-start-xl-6 {
    grid-row-start: 6;
  }
  .grid-row-start-xl-6 {
    grid-row-start: 6;
  }
  .grid-row-start-xl-7 {
    grid-row-start: 7;
  }
  .grid-row-start-xl-8 {
    grid-row-start: 8;
  }
  .grid-row-start-xl-9 {
    grid-row-start: 9;
  }
  .grid-row-start-xl-10 {
    grid-row-start: 10;
  }

  .grid-span-xl-1 {
    grid-column-end: span 1;
  }
  .grid-span-xl-2 {
    grid-column-end: span 2;
  }
  .grid-span-xl-3 {
    grid-column-end: span 3;
  }
  .grid-span-xl-4 {
    grid-column-end: span 4;
  }
  .grid-span-xl-5 {
    grid-column-end: span 5;
  }
  .grid-span-xl-6 {
    grid-column-end: span 6;
  }
  .grid-span-xl-7 {
    grid-column-end: span 7;
  }
  .grid-span-xl-8 {
    grid-column-end: span 8;
  }
  .grid-span-xl-9 {
    grid-column-end: span 9;
  }
  .grid-span-xl-10 {
    grid-column-end: span 10;
  }
  .grid-span-xl-11 {
    grid-column-end: span 11;
  }
  .grid-span-xl-12 {
    grid-column-end: span 12;
  }

  .grid-row-span-xl-1 {
    grid-row-end: span 1;
  }
  .grid-row-span-xl-2 {
    grid-row-end: span 2;
  }
  .grid-row-span-xl-3 {
    grid-row-end: span 3;
  }
  .grid-row-span-xl-4 {
    grid-row-end: span 4;
  }
  .grid-row-span-xl-5 {
    grid-row-end: span 5;
  }
  .grid-row-span-xl-6 {
    grid-row-end: span 6;
  }
  .grid-row-span-xl-7 {
    grid-row-end: span 7;
  }
  .grid-row-span-xl-8 {
    grid-row-end: span 8;
  }
  .grid-row-span-xl-9 {
    grid-row-end: span 9;
  }
  .grid-row-span-xl-10 {
    grid-row-end: span 10;
  }
}

/* xxl: XXL devices (very large desktops, 1440px and up) */
@media (min-width: 1440px) {
  .grid-gap-xxl-0 {
    grid-gap: 0;
  }
  .grid-gap-xxl-1 {
    grid-gap: var(--gap-size);
  }
  .grid-gap-xxl-2 {
    grid-gap: calc(var(--gap-size) * 2);
  }
  .grid-gap-xxl-3 {
    grid-gap: calc(var(--gap-size) * 3);
  }
  
  .grid-column-gap-xxl-0 {
    grid-column-gap: 0;
  }
  .grid-column-gap-xxl-1 {
    grid-column-gap: var(--gap-size);
  }
  .grid-column-gap-xxl-2 {
    grid-column-gap: calc(var(--gap-size) * 2);
  }
  .grid-column-gap-xxl-3 {
    grid-column-gap: calc(var(--gap-size) * 3);
  }
  
  .grid-row-gap-xxl-0 {
    grid-row-gap: 0;
  }
  .grid-row-gap-xxl-1 {
    grid-row-gap: var(--gap-size);
  }
  .grid-row-gap-xxl-2 {
    grid-row-gap: calc(var(--gap-size) * 2);
  }
  .grid-row-gap-xxl-3 {
    grid-row-gap: calc(var(--gap-size) * 3);
  }

  .grid-start-xxl-1 {
    grid-column-start: 1;
  }
  .grid-start-xxl-2 {
    grid-column-start: 2;
  }
  .grid-start-xxl-3 {
    grid-column-start: 3;
  }
  .grid-start-xxl-4 {
    grid-column-start: 4;
  }
  .grid-start-xxl-5 {
    grid-column-start: 5;
  }
  .grid-start-xxl-6 {
    grid-column-start: 6;
  }
  .grid-start-xxl-6 {
    grid-column-start: 6;
  }
  .grid-start-xxl-7 {
    grid-column-start: 7;
  }
  .grid-start-xxl-8 {
    grid-column-start: 8;
  }
  .grid-start-xxl-9 {
    grid-column-start: 9;
  }
  .grid-start-xxl-10 {
    grid-column-start: 10;
  }
  .grid-start-xxl-11 {
    grid-column-start: 11;
  }

  .grid-row-start-xxl-1 {
    grid-row-start: 1;
  }
  .grid-row-start-xxl-2 {
    grid-row-start: 2;
  }
  .grid-row-start-xxl-3 {
    grid-row-start: 3;
  }
  .grid-row-start-xxl-4 {
    grid-row-start: 4;
  }
  .grid-row-start-xxl-5 {
    grid-row-start: 5;
  }
  .grid-row-start-xxl-6 {
    grid-row-start: 6;
  }
  .grid-row-start-xxl-6 {
    grid-row-start: 6;
  }
  .grid-row-start-xxl-7 {
    grid-row-start: 7;
  }
  .grid-row-start-xxl-8 {
    grid-row-start: 8;
  }
  .grid-row-start-xxl-9 {
    grid-row-start: 9;
  }
  .grid-row-start-xxl-10 {
    grid-row-start: 10;
  }

  .grid-span-xxl-1 {
    grid-column-end: span 1;
  }
  .grid-span-xxl-2 {
    grid-column-end: span 2;
  }
  .grid-span-xxl-3 {
    grid-column-end: span 3;
  }
  .grid-span-xxl-4 {
    grid-column-end: span 4;
  }
  .grid-span-xxl-5 {
    grid-column-end: span 5;
  }
  .grid-span-xxl-6 {
    grid-column-end: span 6;
  }
  .grid-span-xxl-7 {
    grid-column-end: span 7;
  }
  .grid-span-xxl-8 {
    grid-column-end: span 8;
  }
  .grid-span-xxl-9 {
    grid-column-end: span 9;
  }
  .grid-span-xxl-10 {
    grid-column-end: span 10;
  }
  .grid-span-xxl-11 {
    grid-column-end: span 11;
  }
  .grid-span-xxl-12 {
    grid-column-end: span 12;
  }

  .grid-row-span-xxl-1 {
    grid-row-end: span 1;
  }
  .grid-row-span-xxl-2 {
    grid-row-end: span 2;
  }
  .grid-row-span-xxl-3 {
    grid-row-end: span 3;
  }
  .grid-row-span-xxl-4 {
    grid-row-end: span 4;
  }
  .grid-row-span-xxl-5 {
    grid-row-end: span 5;
  }
  .grid-row-span-xxl-6 {
    grid-row-end: span 6;
  }
  .grid-row-span-xxl-7 {
    grid-row-end: span 7;
  }
  .grid-row-span-xxl-8 {
    grid-row-end: span 8;
  }
  .grid-row-span-xxl-9 {
    grid-row-end: span 9;
  }
  .grid-row-span-xxl-10 {
    grid-row-end: span 10;
  }
}
