.actionbutton.flickity-carousel {
  position: relative;
  color: #fff;
  height: 0;
  padding-bottom: 56.25%;
  overflow-y: hidden;
}
.actionbutton .flickity-viewport {
  position: absolute;
  width: 100%;
  height: 100% !important;
}
.actionbutton .flickity-slider,
.actionbutton .node-item {
  height: 100%;
}


.actionbutton .slide {
  position: absolute;
  width: 100%;
  height: 100%;
}
.actionbutton .slide-img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.actionbutton .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.actionbutton .slide-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
}

.actionbutton .slide-title {
}

.actionbutton .slide-content {
  color: #fff;
  margin: 20px 0 0;
}

.actionbutton .slide-text strong {
  color: var(--color-brand);
}

.actionbutton .slide-link {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 3px;
  margin-top: 20px;
  transition: all 0.3s;
}

.actionbutton .slide-link:hover {
  background: #fff;
  color: #333;
}




/* PAGE RESPONSIVE */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .actionbutton .slide-title {
    font-size: 60px;
    line-height: 65px;
  }

  .actionbutton .slide-text {
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0 0;
  }

  .actionbutton .slide-more {
    font-size: 25px;
    line-height: 30px;
    padding: 15px 25px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .actionbutton.flickity-carousel{
    padding-bottom: 550px;
  }
}
