Options +FollowSymlinks
Options -Indexes
DirectoryIndex engine/code/php/boot.php
RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} (.*)data\.json$ [NC]
RewriteRule ^(.*)$ '/403' [R=301,L]

RewriteCond %{REQUEST_URI} /+[^\.]+$
RewriteRule ^(.+[^/])$ %{REQUEST_URI}/ [R=301,L]

RewriteRule ^(css)/([0-9a-zA-Z-]+).css sites/%{HTTP_HOST}/files/css/$2.css
RewriteRule ^(js)/([0-9a-zA-Z-]+).js sites/%{HTTP_HOST}/files/js/$2.js
RewriteRule ^(.*)(files)/([\/0-9a-zA-Z-\.]+) sites/%{HTTP_HOST}/files/$3
RewriteRule ^([0-9a-zA-Z-]+)/(gallery)/(.*) engine/tmp/%{HTTP_HOST}/wiki/$1/gallery/$3 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)(engine)/([\/0-9a-zA-Z-\.\_]+) engine/$3

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) engine/tmp/%{HTTP_HOST}/wiki/$1 [NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteRule ^([0-9a-zA-Z-]+) engine/code/php/boot.php [L]

