.user-guest .logged-only {
				display: none;
				}

html, body {
  font-family: Serif;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
    color: black;
    text-decoration: none;
}

#menu-primary {
    display: block;
    line-height: 32px;
    height: 30px;
    padding: 0;
    margin: 0;
}

#menu-primary a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    border-right: 1px solid #444;
    font-size: 100%;
}

#menu-primary a:last-of-type {
    border-right: none;
}

#menu-primary a:hover {
    color: darkgoldenrod;
}


#page {
    width: 100%;
    display: block;
    margin: auto;
}

menu {
	line-height: 30px;
	margin: 0;
	display: block;
	text-align: center;
}

@media print {
     .no-print, .actions, #shadow-outside {
         display: none !important;
     }
}


.fluids {
    display: block;
}

.fluids .column .block:hover {
    opacity: 0.7;
    cursor: pointer;
}
.fluids .column .block.citation:hover {
    opacity: 1;
}

.fluids .column {
    float: left;
    background: white;
    width: 100%;
    font-size: 100%;
    line-height: 1.2em;
}

/* > 600px */
@media all and (min-width:801px) {
    .fluids .column {
        width: 50%;
    }
    #page {
        width: 100%;
    }
    .fluids {
        font-size: 150%;
    }
}
/* > 1000px */
@media all and (min-width:1201px) {
    .fluids .column {
        width: 33.33333334%;
    }
    #page {
    }
}
.block {
    float: left;
    overflow: hidden;
}

.block.social {
    background: white;
    text-align: center;
}

.block.w25 {
    width: 25%;
}
.block.w50 {
    width: 50%;
}
.block.w75 {
    width: 75%;
}
.block.w100 {
    width: 100%;
}

.block.h25 {
    height: 75px;
}

.block.h50 {
    height: 150px;
}

.block.h75 {
    height: 225px;
}

.block.h100 {
    height: 300px;
}

.block.card img,
.block.person img,
.block.social img {
    width: 100%;
    height: 100%;
}

.block.citation {
    background: black;
    color: white;
}

.block.citation .author {
    font-style: italic;
    margin-top: 6px;
}

.block.right {
    float: right;
}

.chapter {
    display: none;
    margin-bottom: 8px;
    border-bottom: 2px dashed #666;
    padding-bottom: 8px;
}

.chapter:last-of-type {
    border-bottom-width: 0;
}
.chapter-links {
    border: 1px solid black;
    padding: 4px;
}
.chapter-link {
    display: block;
    cursor: pointer;
}

.chapter-link.selected {
    background: #ddd;
}

#data {
    display: block;
    line-height: 180%;
    font-size: 100%;
    margin-bottom: 0;
    position: relative;
    padding: 25px;
    text-align: left;
}

.whitezone {
    background: white;
    padding: 8px;
    display: block;
}

.redzone {
    padding: 8px;
    font-weight: bold;
    border: 1px solid red;
}

.block:hover a {
    display: none;
}

.block.social:hover a {
    display: inline;
}

.block .abstract {
    width: auto;
    padding: 10px;
    display: none;
    color: white;
    position: relative;
    font-size: 70%;
}

.block .inner {
    padding: 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.block.card .inner,
.block.person .inner,
.block.social .inner {
    padding: 0;
}

.block:hover .abstract {
    display: block;
}

.data {
    font-style: italic;
}

h3.title {
    padding-bottom: 0;
    margin-bottom: 0;
}

a.wiki {
    text-decoration: underline;
}

.actions {
    display: block;
    clear: both;
    border-top: 1px dashed #555;
    border-bottom: 1px dashed #555;
    padding-top: 25px;
    margin-top: 25px;
    padding-bottom: 25px;
}

.user-admin.body-home .actions {
    display: block;
}

ul.gallery.list li {
    display: inline-block;
}

ul.gallery.list {
    width: 100%;
}

.site-mail-link {
    position: fixed;
    top: 0;
    right: 0;
    padding: 4px;
    font-size: 85%;
    background: black;
    color: white;
    border-bottom-left-radius: 4px;
}

@media print {
    .no-print, .actions {
        display: none !important;
    }
}

.internal {
    text-decoration: underline;
}

.page-break {
    page-break-after: always;
    height: 0;
    clear: both;
}


ul.breadcrumb {
    text-align: left;
}

ul.breadcrumb li {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    border-right: 1px solid #aaa;
    padding-right: 4px;
}

.description {
    font-style: italic;
    font-size: 0.8em;
    color: #666;
    display: block;
    margin-top: 8px;
    margin-bottom: 20px;
    border-top: 1px dotted #ddd;
    padding: 6px;
    border-bottom: 1px dotted #ddd;
}


.form-item.required label:after {
    content: " *";
    color: red;

}
