/* RESPONSIVE */

/* MOBILE FIRST */

.slide {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.slide-text {
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  text-align: center;
  display: none;
}

.slide-content {
  width: 100%;
}
.slide-title {
  opacity: 0.8;
  position: absolute;
  bottom: 25px;
  left: 0;
  background: white;
  text-align: center;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  line-height: 22px;
}

.slide-img img {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-position: center;
  object-fit: cover;
}

.flickity-page-dots {
  bottom: 20px;
}


.flickity-link {
	text-decoration: none;
}

.flickity-slider .node-item {
  width: 100%;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .slide-title {
    font-size: 30px;
    line-height: 40px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

