.node-item {
  position: relative;
    border-type: dashed;
    border-color: green;
}

.node-item .node-item-actions {
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    height: 25px;
    font-family: Arial;
    text-transform: uppercase;
}

.node-item .node-item-actions a {
    font-family: Arial;
    font-size: 12px;
    display: inline-block;
    margin-left: 8px;
    color: #333;
    text-decoration: none;
    background: #ddd;

}