
    
    amp-carousel .slide .cover img{
  object-fit: cover;
}
amp-carousel .slide .align-top img{
  object-position: 50% 0; /* center top */
}
amp-carousel .slide .caption {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}
amp-carousel .slide .caption a {
  color: #fff;
}
.link-image {
  line-height:0; /* Remove extra-height */ 
}



/* style menu buttons like links */
button[on] {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* AMP SIDEBAR */
amp-sidebar {
  background: #fff;
}
amp-sidebar .amp-close-sidebar {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}
amp-sidebar ul li {
  padding: 5px;
}
    .box .inner {
    position: relative;
}

.node-item {
    position: relative;
}
.node-item .node-item-actions {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    text-align: right;
    background: #ffffff !important;
    border-radius: 5px;
    padding: 5px !important;
		margin: 0 !important;
    z-index: 1000 !important;
    height: 20px !important;
		line-height: 20px;
    vertical-align: middle;
}

.node-item-actions a {
    font-family: Arial;
    font-size: 16px !important;
    display: inline-block !important;
    margin-left: 8px;
    text-decoration: none;
		background: transparent !important;
    height: 20px !important;
		line-height: 20px !important;
    padding: 0 !important;
		margin: 0 !important;
		margin-left: 5px !important;
		margin-right: 5px !important;
}

#edit_title {
    width: 100%;
}

#shadow-buttons {
    float: left;
    clear: left;
}

.fr-box.fr-basic .fr-element {
    height: 250px;
}

#edit_teaser {
    width: 100%;
}

.add-link {
    color: #00aa00 !important;
    margin: 3px !important;
    text-decoration: none;
}

.edit-link {
    color: #000000 !important;
    margin: 3px !important;
    text-decoration: none;
}

.delete-link {
    color: #aa0000 !important;
    margin: 3px !important;
    text-decoration: none;
}
.node-item-actions a:hover {
    background: transparent !important;
}

textarea#edit_tpl {
    width: 100%;
}
    /* LISTS */
.list br {
	display: none;
}

.list-dir {
	padding: 0;
}

.dir-list-item {
	margin:0;
  padding: 0;
	display: block;
}

.list-tree .dir-list-item {
	display: list-item;
}

.list-image_title_linked .node-item {
	height: 100%;
}

.list-item-image-cover {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.list-item-image-cover img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.list-item-title-overlay::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	transition: 0.3s all;
	opacity: 0; /* init */	
}
.list-item-title-overlay h1 {
	position: absolute;
	padding: 15px;
	margin: 0;
	color: #fff;
	transition: 0.3s all;
	transform: scale(0.8); /* init */
	opacity: 0; /* init */	
}
.list-item-title-overlay:hover::before {
	opacity: 0.5;
}
.list-item-title-overlay:hover h1 {
	transform: scale(1);
	opacity: 1;
}
    .blog-actions {
    text-align: right;
}

.blog-thumb {

}

    .float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-box {
    clear: left;
}

.centered-box {
    float: none;
    margin: auto;
}

.box > .inner {
    overflow: hidden;
}

/* > 600px */
@media all and (max-width:861px) {
    .w-50-75, .w-75-100, .w-50, .w-75 {
        width: 100% !important;
    }

    .w-0-25, .w-25-50 {
        width: 50% !important;
    }

    .box, .box > .inner {
        min-height: 0 !important;
        height: auto !important;
        overflow-y: visible;
    }
}

/* > 600px */
@media all and (max-width:641px) {
    .w-0-25 {
        width: 100% !important;
    }

    .box > .inner {
        height: auto !important;
        min-height: 0 !important;
    }
}

.box img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

    .file-link-item {
    background-repeat: no-repeat;
    background-position: left center;
}

ul.file_admin  .progress-wrapper {
    position: absolute;
    right: -60px;
}
ul.file_admin .progressBar {
    border: 0;
    display: block;
    width: 45px;
    text-align: center;
    margin-left: 15px;
    margin-top: -20px;

}

.upload-files {
    width: 100%;
    position: relative;
    display: block;
}

.drop {
    background-color: #444;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #bbb;
}

.drop a {
    background-color: #007a96;
    padding: 12px 26px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-top: 24px;
    line-height: 1;
    display: block;
}

.drop a:hover {
    background-color: #0986a3;
}

.drop input {
    display: none;
}

.upload-files ul {
    list-style: none;
}

li.list-item {
    position: relative;
    z-index: 10;
    display: block;
}


.upload-files ul li p {
    width: 144px;
    white-space: nowrap;
}

.upload-files ul li i {
    font-weight: normal;
    font-style: normal;
    color: #7f7f7f;
    margin-left: 8px;
}

.upload-files ul li canvas {
    position: absolute;
    top: 4px;
    left: -24px;
}

.upload-files ul li.worked canvas {
    display: none;
}

.upload-files ul li span {
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    cursor: pointer;
    top: 7px;
    left: -20px;
}

.upload-files ul li.working span {
    height: 16px;
    background-position: 0 -12px;
}

.upload-files ul li.error p {
    color: red;
}


.file_admin .list-item-file_admin {
    position:relative;
    padding: 10px 10px 10px 60px;
    background:#f6f6f6;
    margin-bottom:10px;
}

.file_admin .list-item-file_admin:hover {
    background-color: #eee;
}

.file_admin .list-item-file_admin a {
    text-decoration: none;
    font-size: 12px;
}


.sort-handle{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:50px;
    background:#ddd;
    cursor:pointer;
    display:block;
    text-align:center;
}
.sort-handle::before{
    content:"";
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.sort-handle::after{
    content:"\f047"; /* fa-arrows */
    font-family: "FontAwesome";
    font-size:20px;
    line-height:20px;
    color:#333;
    display: inline-block;
    vertical-align: middle;    
}
.sort-handle:hover, 
.sort-handle:focus{
    background:#bbb;
}

a.file-link {
    padding-left: 25px;
}
.shadow-content a.file-link {
    display: inline-block;
    margin:10px;
    padding:0;
}

ul.file_admin {
    margin: 0;
    padding: 0;
}

ul.file_admin  li {
    display: block;
    margin-left: 0;
}

.file-document {
    background-image: url('/engine/modules/core/file/img/icons/doc.png');
}

.file-pdf {
    background-image: url('/engine/modules/core/file/img/icons/pdf.png');
}

.file-xml {
    background-image: url('/engine/modules/core/file/img/icons/xml.png');
}

.file-image {
    background-image: url('/engine/modules/core/file/img/icons/img.png');
}

.file-audio {
    background-image: url('/engine/modules/core/file/img/icons/audio.png');
}

.file-archive {
    background-image: url('/engine/modules/core/file/img/icons/zip.png');
}

.file-video {
    background-image: url('/engine/modules/core/file/img/icons/video.png');
}

.file-sheet {
    background-image: url('/engine/modules/core/file/img/icons/xls.png')
}

.selected-thumbnail {
    display: inline-block;
    color: #0a0;
    border: 1px solid #0a0;
    padding: 2px;
}

.file-preview {
    max-width: 150px;
    min-width: 80px;
    height: 80px;
    vertical-align: middle;
    display: inline-block;
    background: #eee;
    text-align: center;
    padding: 0;
}

.file-preview-item {
    border: 2px solid #ccc;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.file-preview-item.file-pdf {
    border-color: red;
}

.file-preview-item.file-document {
    border-color: #00bfff;
}

.file-preview img {
    max-width: 100%;
    max-height: 100%;
    display: inline;
}
.file-qtag {
    margin:0 10px 0 0;
}
.file-actions {
    display:inline-block;
}
.file-actions .set-thumbnail {
    margin-right:10px;
}
.file-actions .delete-file {
    color: red;
    text-decoration: none;
    font-weight: bold;
}
    .form-item.validation-error input,
.form-item.validation-error select,
.form-item.validation-error textarea
{
    border: 1px solid red !important;
}

.form-item-disabled {
    color: #bbb;
}

.validation-error {
    color: white;
    background: red;
    padding-left: 5px;
    padding-right: 5px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    font-family: "Verdana";
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    bottom: -25px;
    left: 0;
    overflow:scroll;
    overflow-y: hidden;
    white-space:nowrap;

}

div.has-validation-errors {
    border-style: dashed;
    border-width: 1px;
    border-color: red;

}

.has-validation-errors label {
    color: red;
}

.has-validation-errors input, .has-validation-errors select, .has-validation-errors textarea {
    border-color: red;
}

.form-item-required {
    color: red;
}

.form-item-add {
    color: green;
}

.form-item-remove {
    color: red;
}

.form-item-wrapper {
    position: relative;
}

.form-item {
    font-size: 0.8em;
}
    .easy-autocomplete{position:relative}.easy-autocomplete input{border-color:#ccc;border-radius:4px;border-style:solid;border-width:1px;box-shadow:0px 1px 2px rgba(0,0,0,0.1) inset;color:#555;float:none;padding:6px 12px}.easy-autocomplete input:hover,.easy-autocomplete input:focus{box-shadow:none}.easy-autocomplete a{display:block}.easy-autocomplete.eac-blue-light input:hover,.easy-autocomplete.eac-blue-light input:focus{border-color:#66afe9;box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(102,175,233,0.6)}.easy-autocomplete.eac-blue-light ul{border-color:#66afe9;box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(102,175,233,0.6)}.easy-autocomplete.eac-blue-light ul li,.easy-autocomplete.eac-blue-light ul .eac-category{border-color:#66afe9}.easy-autocomplete.eac-blue-light ul li.selected,.easy-autocomplete.eac-blue-light ul .eac-category.selected{background-color:#ecf5fc}.easy-autocomplete.eac-green-light input:hover,.easy-autocomplete.eac-green-light input:focus{border-color:#41DB00;box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(146,237,107,0.6)}.easy-autocomplete.eac-green-light ul{border-color:#41DB00;box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(146,237,107,0.6)}.easy-autocomplete.eac-green-light ul li,.easy-autocomplete.eac-green-light ul .eac-category{border-color:#41DB00}.easy-autocomplete.eac-green-light ul li.selected,.easy-autocomplete.eac-green-light ul .eac-category.selected{background-color:#9eff75}.easy-autocomplete.eac-red-light input:hover,.easy-autocomplete.eac-red-light input:focus{border-color:#ff5b5b;box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,90,90,0.6)}.easy-autocomplete.eac-red-light ul{border-color:#ff5b5b;box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,90,90,0.6)}.easy-autocomplete.eac-red-light ul li,.easy-autocomplete.eac-red-light ul .eac-category{border-color:#ff5b5b}.easy-autocomplete.eac-red-light ul li.selected,.easy-autocomplete.eac-red-light ul .eac-category.selected{background-color:#ff8e8e}.easy-autocomplete.eac-yellow-light input:hover,.easy-autocomplete.eac-yellow-light input:focus{border-color:#ffdb00;box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,231,84,0.6)}.easy-autocomplete.eac-yellow-light ul{border-color:#ffdb00;box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(255,231,84,0.6)}.easy-autocomplete.eac-yellow-light ul li,.easy-autocomplete.eac-yellow-light ul .eac-category{border-color:#ffdb00}.easy-autocomplete.eac-yellow-light ul li.selected,.easy-autocomplete.eac-yellow-light ul .eac-category.selected{background-color:#ffe233}.easy-autocomplete.eac-dark-light input:hover,.easy-autocomplete.eac-dark-light input:focus{border-color:#333;box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(55,55,55,0.6)}.easy-autocomplete.eac-dark-light ul{border-color:#333;box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset,0 0 8px rgba(55,55,55,0.6)}.easy-autocomplete.eac-dark-light ul li,.easy-autocomplete.eac-dark-light ul .eac-category{border-color:#333}.easy-autocomplete.eac-dark-light ul li.selected,.easy-autocomplete.eac-dark-light ul .eac-category.selected{background-color:#4d4d4d;color:#fff}.easy-autocomplete.eac-dark{color:#fff}.easy-autocomplete.eac-dark input{background-color:#404040;border-radius:4px;box-shadow:none;color:#f6f6f6}.easy-autocomplete.eac-dark input:hover,.easy-autocomplete.eac-dark input:focus{border-color:#333;box-shadow:none}.easy-autocomplete.eac-dark ul{border-color:#333}.easy-autocomplete.eac-dark ul li,.easy-autocomplete.eac-dark ul .eac-category{background-color:#404040;border-color:#333}.easy-autocomplete.eac-dark ul li.selected,.easy-autocomplete.eac-dark ul .eac-category.selected{background-color:#737373;color:#f6f6f6}.easy-autocomplete.eac-dark-glass{color:#fff}.easy-autocomplete.eac-dark-glass input{background-color:rgba(0,0,0,0.8);border-radius:4px;box-shadow:none;color:#f6f6f6}.easy-autocomplete.eac-dark-glass input:hover,.easy-autocomplete.eac-dark-glass input:focus{border-color:rgba(0,0,0,0.8);box-shadow:none}.easy-autocomplete.eac-dark-glass ul{border-color:rgba(0,0,0,0.8)}.easy-autocomplete.eac-dark-glass ul li,.easy-autocomplete.eac-dark-glass ul .eac-category{background-color:rgba(0,0,0,0.8);border-color:rgba(0,0,0,0.8)}.easy-autocomplete.eac-dark-glass ul li.selected,.easy-autocomplete.eac-dark-glass ul .eac-category.selected{background-color:rgba(64,64,64,0.8);color:#f6f6f6}.easy-autocomplete.eac-dark-glass ul li:last-child,.easy-autocomplete.eac-dark-glass ul .eac-category:last-child{border-radius:0 0 4px 4px}.easy-autocomplete.eac-blue{color:#fff}.easy-autocomplete.eac-blue input{background-color:#6d9ed1;border-radius:4px;box-shadow:none;color:#f6f6f6}.easy-autocomplete.eac-blue input::-webkit-input-placeholder{color:#f6f6f6}.easy-autocomplete.eac-blue input:-moz-placeholder{color:#f6f6f6}.easy-autocomplete.eac-blue input::-moz-placeholder{color:#f6f6f6}.easy-autocomplete.eac-blue input:-ms-input-placeholder{color:#f6f6f6}.easy-autocomplete.eac-blue input:hover,.easy-autocomplete.eac-blue input:focus{border-color:#5A91CB;box-shadow:none}.easy-autocomplete.eac-blue ul{border-color:#5A91CB}.easy-autocomplete.eac-blue ul li,.easy-autocomplete.eac-blue ul .eac-category{background-color:#6d9ed1;border-color:#5A91CB}.easy-autocomplete.eac-blue ul li.selected,.easy-autocomplete.eac-blue ul .eac-category.selected{background-color:#94b8dd;color:#f6f6f6}.easy-autocomplete.eac-yellow{color:#333}.easy-autocomplete.eac-yellow input{background-color:#ffdb7e;border-color:#333;border-radius:4px;box-shadow:none;color:#333}.easy-autocomplete.eac-yellow input:hover,.easy-autocomplete.eac-yellow input:focus{border-color:#333;box-shadow:none}.easy-autocomplete.eac-yellow ul{border-color:#333}.easy-autocomplete.eac-yellow ul li,.easy-autocomplete.eac-yellow ul .eac-category{background-color:#ffdb7e;border-color:#333}.easy-autocomplete.eac-yellow ul li.selected,.easy-autocomplete.eac-yellow ul .eac-category.selected{background-color:#ffe9b1;color:#333}.easy-autocomplete.eac-purple{color:#333}.easy-autocomplete.eac-purple input{background-color:#d6d1e7;border-color:#b8afd5;box-shadow:none;color:#333}.easy-autocomplete.eac-purple input:hover,.easy-autocomplete.eac-purple input:focus{border-color:#333;box-shadow:none}.easy-autocomplete.eac-purple ul{border-color:#333}.easy-autocomplete.eac-purple ul li,.easy-autocomplete.eac-purple ul .eac-category{background-color:#d6d1e7;border-color:#333}.easy-autocomplete.eac-purple ul li.selected,.easy-autocomplete.eac-purple ul .eac-category.selected{background-color:#ebe8f3;color:#333}.easy-autocomplete.eac-bootstrap input{border-color:#ccc;border-radius:4px;border-style:solid;border-width:1px;color:#555;padding:6px 12px}.easy-autocomplete-container{left:0;position:absolute;width:100%;z-index:2}.easy-autocomplete-container ul{background:none repeat scroll 0 0 #ffffff;border-top:1px dotted #ccc;display:none;margin-top:0;padding-bottom:0;padding-left:0;position:relative;top:-1px}.easy-autocomplete-container ul li,.easy-autocomplete-container ul .eac-category{background:inherit;border-color:#ccc;border-image:none;border-style:solid;border-width:0 1px;display:block;font-size:14px;font-weight:normal;padding:4px 12px}.easy-autocomplete-container ul li:last-child{border-radius:0 0 2px 2px;border-width:0 1px 1px}.easy-autocomplete-container ul li.selected{background:none repeat scroll 0 0 #ebebeb;cursor:pointer}.easy-autocomplete-container ul li.selected div{font-weight:normal}.easy-autocomplete-container ul li div{display:block;font-weight:normal;word-break:break-all}.easy-autocomplete-container ul li b{font-weight:bold}.easy-autocomplete-container ul .eac-category{color:#aaa;font-style:italic}.eac-description .eac-item span{color:#aaa;font-style:italic;font-size:0.9em}.eac-icon-left .eac-item img{margin-right:4px;max-height:30px}.eac-icon-right .eac-item{margin-top:8px;min-height:24px;position:relative}.eac-icon-right .eac-item img{margin-left:4px;max-height:30px;position:absolute;right:-4px;top:-8px}

    /*
 * easy-autocomplete
 * jQuery plugin for autocompletion
 * 
 * @author Łukasz Pawełczak (http://github.com/pawelczak)
 * @version 1.3.5
 * Copyright  License: 
 */

.easy-autocomplete.eac-square{font-family:"Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif}.easy-autocomplete.eac-square input{border:1px solid #7f8c8d;border-radius:0;color:#7f8c8d;font-family:inherit;font-size:18px;font-style:italic;font-weight:300;margin:0;min-width:350px;padding:12px 43px 12px 15px}.easy-autocomplete.eac-square ul{border-color:#7f8c8d;border-top:0;box-shadow:none;top:0}.easy-autocomplete.eac-square ul li,.easy-autocomplete.eac-square ul .eac-category{border-color:#7f8c8d;font-family:inherit;font-size:16px;font-weight:300;padding:6px 12px;transition:all 0.4s ease 0s}.easy-autocomplete.eac-square ul li *,.easy-autocomplete.eac-square ul .eac-category *{font-weight:300}.easy-autocomplete.eac-square ul li.selected,.easy-autocomplete.eac-square ul .eac-category.selected{background-color:#f1f1f1;font-weight:300}.easy-autocomplete.eac-square ul li b,.easy-autocomplete.eac-square ul .eac-category b{font-weight:600}.easy-autocomplete.eac-round{font-family:"Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif}.easy-autocomplete.eac-round input{border:2px solid #888;border-radius:10px;color:#888;font-family:inherit;font-size:16px;font-weight:400;margin:0;min-width:300px;padding:10px}.easy-autocomplete.eac-round input:hover,.easy-autocomplete.eac-round input:focus{border-color:#3079ed}.easy-autocomplete.eac-round ul{background:none;border-color:#888;border-width:0;box-shadow:none;min-width:300px;top:20px}.easy-autocomplete.eac-round ul li,.easy-autocomplete.eac-round ul .eac-category{background:#fff;border-color:#3079ed;border-width:0 2px;font-size:14px;padding:8px 12px;transition:all 0.4s ease 0s}.easy-autocomplete.eac-round ul li.selected,.easy-autocomplete.eac-round ul .eac-category.selected{background-color:#d4e3fb}.easy-autocomplete.eac-round ul li:first-child,.easy-autocomplete.eac-round ul .eac-category:first-child{border-radius:10px 10px 0 0;border-width:2px 2px 0}.easy-autocomplete.eac-round ul li:last-child,.easy-autocomplete.eac-round ul .eac-category:last-child{border-radius:0 0 10px 10px;border-width:0 2px 2px}.easy-autocomplete.eac-round ul li b,.easy-autocomplete.eac-round ul .eac-category b{font-weight:700}.easy-autocomplete.eac-funky{font-family:"Inconsolata", "Helvetica Neue",Helvetica,Arial,sans-serif}.easy-autocomplete.eac-funky input{background:#07ED89;border:0;border-radius:0;color:#ED076B;font-family:inherit;font-size:18px;min-width:240px;padding:12px}.easy-autocomplete.eac-funky ul{background:transparent;border:0}.easy-autocomplete.eac-funky ul li,.easy-autocomplete.eac-funky ul .eac-category{background:transparent;border:0;color:#ED076B;font-size:18px;padding:4px 12px;transition:all 0.4s ease 0s}.easy-autocomplete.eac-funky ul li.selected,.easy-autocomplete.eac-funky ul .eac-category.selected{color:#8907ED}.easy-autocomplete.eac-solid input{box-shadow:0px 1px 2px rgba(0,0,0,0.15) inset;border-color:#ddd;color:#666;font-size:13px;min-height:0;padding:6px 12px}.easy-autocomplete.eac-solid ul li,.easy-autocomplete.eac-solid ul .eac-category{transition:all 0.4s ease 0s}.easy-autocomplete.eac-solid ul li.selected,.easy-autocomplete.eac-solid ul .eac-category.selected{background-color:#f2f2f2}.easy-autocomplete.eac-plate{font-family:"Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif}.easy-autocomplete.eac-plate input{font-size:13px;padding:6px 12px}.easy-autocomplete.eac-plate ul{background:#b5b5b5;border-radius:6px;border-width:0;top:10px}.easy-autocomplete.eac-plate ul li,.easy-autocomplete.eac-plate ul .eac-category{background:#b5b5b5;color:#FAFAFA;font-size:12px;transition:all 0.4s ease 0s}.easy-autocomplete.eac-plate ul li b,.easy-autocomplete.eac-plate ul .eac-category b{color:#ffd464}.easy-autocomplete.eac-plate ul li.selected,.easy-autocomplete.eac-plate ul .eac-category.selected{background:#656565}.easy-autocomplete.eac-plate ul li:first-child,.easy-autocomplete.eac-plate ul .eac-category:first-child{border-radius:6px 6px 0 0}.easy-autocomplete.eac-plate ul li:last-child,.easy-autocomplete.eac-plate ul .eac-category:last-child{border-radius:0 0 6px 6px}.easy-autocomplete.eac-plate-dark{font-family:"Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif}.easy-autocomplete.eac-plate-dark input{font-size:13px;padding:6px 12px}.easy-autocomplete.eac-plate-dark ul{background:#212121;border-radius:6px;border-width:0;top:10px}.easy-autocomplete.eac-plate-dark ul li,.easy-autocomplete.eac-plate-dark ul .eac-category{background:#212121;color:#FAFAFA;font-size:12px;transition:all 0.4s ease 0s}.easy-autocomplete.eac-plate-dark ul li b,.easy-autocomplete.eac-plate-dark ul .eac-category b{color:#ffd464}.easy-autocomplete.eac-plate-dark ul li.selected,.easy-autocomplete.eac-plate-dark ul .eac-category.selected{background:#656565}.easy-autocomplete.eac-plate-dark ul li:first-child,.easy-autocomplete.eac-plate-dark ul .eac-category:first-child{border-radius:6px 6px 0 0}.easy-autocomplete.eac-plate-dark ul li:last-child,.easy-autocomplete.eac-plate-dark ul .eac-category:last-child{border-radius:0 0 6px 6px}
/*# sourceMappingURL=easy-autocomplete.themes.min.css.map */

    
a.gallery-thumb {
    display: inline-block;
    margin: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    vertical-align: top;
    width: 160px;
    text-align: center;
}

a.gallery-thumb .thumb-container {
}
a.gallery-thumb img {
    min-width: 100%;
    min-height: 100%;
}
a.gallery-thumb .gallery-item-title {
    padding-top: 8px;
    font-size: 80%;
    line-height: 100%;
}

#gallery-close{
    position:fixed;
    top:15px;
    right:15px;
    font-size:30px;
    color:#fff;
    z-index: 100;
    opacity:0.9;
}
#gallery-close:hover{
    opacity:1;
}

ul.list-gallery{
    margin:0;
}
    /* RESET */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
p:empty {
  margin: 0;
}

    /* UTILITIES */

main {
  text-align: left;
}


nav.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.menu a {
  display: block;
}
nav.menu.menu-vertical li {
  margin-left: 0;
  display: block;
}
nav.menu.menu-vertical li + li {
  margin-top: 10px;
}
nav.menu.menu-vertical a {
  display: initial;
}



header {
  display: flex;
  align-items: center;
}
header nav.menu li {
  display: inline-block;
}
header nav.menu li + li {
  margin-left: 15px;
}

    /* GRID: common elements (grid + flexbox fallback) */

/* VARIABLES */

:root {
  --gap-size: 15px;
  --size-1-col: calc(100% / 12);
  --size-2-col: calc(100% / 12 * 2);
  --size-3-col: calc(100% / 12 * 3);
  --size-4-col: calc(100% / 12 * 4);
  --size-5-col: calc(100% / 12 * 5);
  --size-6-col: calc(100% / 12 * 6);
  --size-7-col: calc(100% / 12 * 7);
  --size-8-col: calc(100% / 12 * 8);
  --size-9-col: calc(100% / 12 * 9);
  --size-10-col: calc(100% / 12 * 10);
  --size-11-col: calc(100% / 12 * 11);
  --size-12-col: 100%;
}

/* "three-rows" style: */

/* MAIN PAGE structure: */

/* header + #grid-main(max-height) + footer */

body.grid.three-rows {
  min-height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  justify-content: initial;
}

body.grid.three-rows>* {
  flex-shrink: 0;
}

body.grid.three-rows #grid-main {
  flex-grow: 1;
}

/* GRID */

ul.grid {
  margin: 0;
  padding: 0;
}

.grid>img {
  width: 100%;
}

.flex {
  display: flex;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-content-start {
  align-content: start;
}

.align-content-center {
  align-content: center;
}

.align-content-end {
  align-items: end;
}

.align-content-stretch {
  align-items: stretch;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-self-start {
  align-self: start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: end;
}

/* RESPONSIVE */

/* MOBILE FIRST */

/* Padding all */

*.p-0 {
  padding: 0;
}

*.p-1 {
  padding: var(--gap-size);
}

*.p-2 {
  padding: calc(var(--gap-size) * 2);
}

*.p-3 {
  padding: calc(var(--gap-size) * 3);
}

/* Padding X axis */

*.p-x-0 {
  padding-left: 0;
  padding-right: 0;
}

*.p-x-1 {
  padding-left: var(--gap-size);
  padding-right: var(--gap-size);
}

*.p-x-2 {
  padding-left: calc(var(--gap-size) * 2);
  padding-right: calc(var(--gap-size) * 2);
}

*.p-x-3 {
  padding-left: calc(var(--gap-size) * 3);
  padding-right: calc(var(--gap-size) * 3);
}

/* Padding Y axis */

*.p-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

*.p-y-1 {
  padding-top: var(--gap-size);
  padding-bottom: var(--gap-size);
}

*.p-y-2 {
  padding-top: calc(var(--gap-size) * 2);
  padding-bottom: calc(var(--gap-size) * 2);
}

*.p-y-3 {
  padding-top: calc(var(--gap-size) * 3);
  padding-bottom: calc(var(--gap-size) * 3);
}

/* Padding top */

*.p-t-0 {
  padding-top: 0;
}

*.p-t-1 {
  padding-top: var(--gap-size);
}

*.p-t-2 {
  padding-top: calc(var(--gap-size) * 2);
}

*.p-t-3 {
  padding-top: calc(var(--gap-size) * 3);
}

/* Padding right */

*.p-r-0 {
  padding-right: 0;
}

*.p-r-1 {
  padding-right: var(--gap-size);
}

*.p-r-2 {
  padding-right: calc(var(--gap-size) * 2);
}

*.p-r-3 {
  padding-right: calc(var(--gap-size) * 3);
}

/* Padding bottom */

*.p-b-0 {
  padding-bottom: 0;
}

*.p-b-1 {
  padding-bottom: var(--gap-size);
}

*.p-b-2 {
  padding-bottom: calc(var(--gap-size) * 2);
}

*.p-b-3 {
  padding-bottom: calc(var(--gap-size) * 3);
}

/* Padding left */

*.p-l-0 {
  padding-left: 0;
}

*.p-l-1 {
  padding-left: var(--gap-size);
}

*.p-l-2 {
  padding-left: calc(var(--gap-size) * 2);
}

*.p-l-3 {
  padding-left: calc(var(--gap-size) * 3);
}

/* Order */

.order--1 {
  order: -1;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

/* md: Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  *.p-md-0 {
    padding: 0;
  }
  *.p-md-1 {
    padding: var(--gap-size);
  }
  *.p-md-2 {
    padding: calc(var(--gap-size) * 2);
  }
  *.p-md-3 {
    padding: calc(var(--gap-size) * 3);
  }
  *.p-x-md-0 {
    padding-left: 0;
    padding-right: 0;
  }
  *.p-x-md-1 {
    padding-left: var(--gap-size);
    padding-right: var(--gap-size);
  }
  *.p-x-md-2 {
    padding-left: calc(var(--gap-size) * 2);
    padding-right: calc(var(--gap-size) * 2);
  }
  *.p-x-md-3 {
    padding-left: calc(var(--gap-size) * 3);
    padding-right: calc(var(--gap-size) * 3);
  }
  *.p-y-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  *.p-y-md-1 {
    padding-top: var(--gap-size);
    padding-bottom: var(--gap-size);
  }
  *.p-y-md-2 {
    padding-top: calc(var(--gap-size) * 2);
    padding-bottom: calc(var(--gap-size) * 2);
  }
  *.p-y-md-3 {
    padding-top: calc(var(--gap-size) * 3);
    padding-bottom: calc(var(--gap-size) * 3);
  }
  *.p-t-md-0 {
    padding-top: 0;
  }
  *.p-t-md-1 {
    padding-top: var(--gap-size);
  }
  *.p-t-md-2 {
    padding-top: calc(var(--gap-size) * 2);
  }
  *.p-t-md-3 {
    padding-top: calc(var(--gap-size) * 3);
  }
  *.p-r-md-0 {
    padding-right: 0;
  }
  *.p-r-md-1 {
    padding-right: var(--gap-size);
  }
  *.p-r-md-2 {
    padding-right: calc(var(--gap-size) * 2);
  }
  *.p-r-md-3 {
    padding-right: calc(var(--gap-size) * 3);
  }
  *.p-b-md-0 {
    padding-bottom: 0;
  }
  *.p-b-md-1 {
    padding-bottom: var(--gap-size);
  }
  *.p-b-md-2 {
    padding-bottom: calc(var(--gap-size) * 2);
  }
  *.p-b-md-3 {
    padding-bottom: calc(var(--gap-size) * 3);
  }
  *.p-l-md-0 {
    padding-left: 0;
  }
  *.p-l-md-1 {
    padding-left: var(--gap-size);
  }
  *.p-l-md-2 {
    padding-left: calc(var(--gap-size) * 2);
  }
  *.p-l-md-3 {
    padding-left: calc(var(--gap-size) * 3);
  }
  .flex-md {
    display: flex;
  }
  .text-md-left {
    text-align: left;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-right {
    text-align: right;
  }
  .order-md--1 {
    order: -1;
  }
  .order-md-0 {
    order: 0;
  }
  .order-md-1 {
    order: 1;
  }
  .order-md-2 {
    order: 2;
  }
  .order-md-3 {
    order: 3;
  }
  .order-md-4 {
    order: 4;
  }
  .order-md-5 {
    order: 5;
  }
  .order-md-6 {
    order: 6;
  }
  .order-md-7 {
    order: 7;
  }
  .order-md-8 {
    order: 8;
  }
  .order-md-9 {
    order: 9;
  }
  .order-md-10 {
    order: 10;
  }
}

/* lg: Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  *.p-lg-0 {
    padding: 0;
  }
  *.p-lg-1 {
    padding: var(--gap-size);
  }
  *.p-lg-2 {
    padding: calc(var(--gap-size) * 2);
  }
  *.p-lg-3 {
    padding: calc(var(--gap-size) * 3);
  }
  *.p-x-lg-0 {
    padding-left: 0;
    padding-right: 0;
  }
  *.p-x-lg-1 {
    padding-left: var(--gap-size);
    padding-right: var(--gap-size);
  }
  *.p-x-lg-2 {
    padding-left: calc(var(--gap-size) * 2);
    padding-right: calc(var(--gap-size) * 2);
  }
  *.p-x-lg-3 {
    padding-left: calc(var(--gap-size) * 3);
    padding-right: calc(var(--gap-size) * 3);
  }
  *.p-y-lg-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  *.p-y-lg-1 {
    padding-top: var(--gap-size);
    padding-bottom: var(--gap-size);
  }
  *.p-y-lg-2 {
    padding-top: calc(var(--gap-size) * 2);
    padding-bottom: calc(var(--gap-size) * 2);
  }
  *.p-y-lg-3 {
    padding-top: calc(var(--gap-size) * 3);
    padding-bottom: calc(var(--gap-size) * 3);
  }
  *.p-t-lg-0 {
    padding-top: 0;
  }
  *.p-t-lg-1 {
    padding-top: var(--gap-size);
  }
  *.p-t-lg-2 {
    padding-top: calc(var(--gap-size) * 2);
  }
  *.p-t-lg-3 {
    padding-top: calc(var(--gap-size) * 3);
  }
  *.p-r-lg-0 {
    padding-right: 0;
  }
  *.p-r-lg-1 {
    padding-right: var(--gap-size);
  }
  *.p-r-lg-2 {
    padding-right: calc(var(--gap-size) * 2);
  }
  *.p-r-lg-3 {
    padding-right: calc(var(--gap-size) * 3);
  }
  *.p-b-lg-0 {
    padding-bottom: 0;
  }
  *.p-b-lg-1 {
    padding-bottom: var(--gap-size);
  }
  *.p-b-lg-2 {
    padding-bottom: calc(var(--gap-size) * 2);
  }
  *.p-b-lg-3 {
    padding-bottom: calc(var(--gap-size) * 3);
  }
  *.p-l-lg-0 {
    padding-left: 0;
  }
  *.p-l-lg-1 {
    padding-left: var(--gap-size);
  }
  *.p-l-lg-2 {
    padding-left: calc(var(--gap-size) * 2);
  }
  *.p-l-lg-3 {
    padding-left: calc(var(--gap-size) * 3);
  }
  .flex-lg {
    display: flex;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-right {
    text-align: right;
  }
  .order-lg--1 {
    order: -1;
  }
  .order-lg-0 {
    order: 0;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-2 {
    order: 2;
  }
  .order-lg-3 {
    order: 3;
  }
  .order-lg-4 {
    order: 4;
  }
  .order-lg-5 {
    order: 5;
  }
  .order-lg-6 {
    order: 6;
  }
  .order-lg-7 {
    order: 7;
  }
  .order-lg-8 {
    order: 8;
  }
  .order-lg-9 {
    order: 9;
  }
  .order-lg-10 {
    order: 10;
  }
}

/* xl: Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  *.p-xl-0 {
    padding: 0;
  }
  *.p-xl-1 {
    padding: var(--gap-size);
  }
  *.p-xl-2 {
    padding: calc(var(--gap-size) * 2);
  }
  *.p-xl-3 {
    padding: calc(var(--gap-size) * 3);
  }
  *.p-x-xl-0 {
    padding-left: 0;
    padding-right: 0;
  }
  *.p-x-xl-1 {
    padding-left: var(--gap-size);
    padding-right: var(--gap-size);
  }
  *.p-x-xl-2 {
    padding-left: calc(var(--gap-size) * 2);
    padding-right: calc(var(--gap-size) * 2);
  }
  *.p-x-xl-3 {
    padding-left: calc(var(--gap-size) * 3);
    padding-right: calc(var(--gap-size) * 3);
  }
  *.p-y-xl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  *.p-y-xl-1 {
    padding-top: var(--gap-size);
    padding-bottom: var(--gap-size);
  }
  *.p-y-xl-2 {
    padding-top: calc(var(--gap-size) * 2);
    padding-bottom: calc(var(--gap-size) * 2);
  }
  *.p-y-xl-3 {
    padding-top: calc(var(--gap-size) * 3);
    padding-bottom: calc(var(--gap-size) * 3);
  }
  *.p-t-xl-0 {
    padding-top: 0;
  }
  *.p-t-xl-1 {
    padding-top: var(--gap-size);
  }
  *.p-t-xl-2 {
    padding-top: calc(var(--gap-size) * 2);
  }
  *.p-t-xl-3 {
    padding-top: calc(var(--gap-size) * 3);
  }
  *.p-r-xl-0 {
    padding-right: 0;
  }
  *.p-r-xl-1 {
    padding-right: var(--gap-size);
  }
  *.p-r-xl-2 {
    padding-right: calc(var(--gap-size) * 2);
  }
  *.p-r-xl-3 {
    padding-right: calc(var(--gap-size) * 3);
  }
  *.p-b-xl-0 {
    padding-bottom: 0;
  }
  *.p-b-xl-1 {
    padding-bottom: var(--gap-size);
  }
  *.p-b-xl-2 {
    padding-bottom: calc(var(--gap-size) * 2);
  }
  *.p-b-xl-3 {
    padding-bottom: calc(var(--gap-size) * 3);
  }
  *.p-l-xl-0 {
    padding-left: 0;
  }
  *.p-l-xl-1 {
    padding-left: var(--gap-size);
  }
  *.p-l-xl-2 {
    padding-left: calc(var(--gap-size) * 2);
  }
  *.p-l-xl-3 {
    padding-left: calc(var(--gap-size) * 3);
  }
  .flex-xl {
    display: flex;
  }
  .text-xl-left {
    text-align: left;
  }
  .text-xl-center {
    text-align: center;
  }
  .text-xl-right {
    text-align: right;
  }
  .order-xl--1 {
    order: -1;
  }
  .order-xl-0 {
    order: 0;
  }
  .order-xl-1 {
    order: 1;
  }
  .order-xl-2 {
    order: 2;
  }
  .order-xl-3 {
    order: 3;
  }
  .order-xl-4 {
    order: 4;
  }
  .order-xl-5 {
    order: 5;
  }
  .order-xl-6 {
    order: 6;
  }
  .order-xl-7 {
    order: 7;
  }
  .order-xl-8 {
    order: 8;
  }
  .order-xl-9 {
    order: 9;
  }
  .order-xl-10 {
    order: 10;
  }
}

/* xxl: XXL devices (very large desktops, 1440px and up) */

@media (min-width: 1440px) {
  *.p-xxl-0 {
    padding: 0;
  }
  *.p-xxl-1 {
    padding: var(--gap-size);
  }
  *.p-xxl-2 {
    padding: calc(var(--gap-size) * 2);
  }
  *.p-xxl-3 {
    padding: calc(var(--gap-size) * 3);
  }
  *.p-x-xxl-0 {
    padding-left: 0;
    padding-right: 0;
  }
  *.p-x-xxl-1 {
    padding-left: var(--gap-size);
    padding-right: var(--gap-size);
  }
  *.p-x-xxl-2 {
    padding-left: calc(var(--gap-size) * 2);
    padding-right: calc(var(--gap-size) * 2);
  }
  *.p-x-xxl-3 {
    padding-left: calc(var(--gap-size) * 3);
    padding-right: calc(var(--gap-size) * 3);
  }
  *.p-y-xxl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  *.p-y-xxl-1 {
    padding-top: var(--gap-size);
    padding-bottom: var(--gap-size);
  }
  *.p-y-xxl-2 {
    padding-top: calc(var(--gap-size) * 2);
    padding-bottom: calc(var(--gap-size) * 2);
  }
  *.p-y-xxl-3 {
    padding-top: calc(var(--gap-size) * 3);
    padding-bottom: calc(var(--gap-size) * 3);
  }
  *.p-t-xxl-0 {
    padding-top: 0;
  }
  *.p-t-xxl-1 {
    padding-top: var(--gap-size);
  }
  *.p-t-xxl-2 {
    padding-top: calc(var(--gap-size) * 2);
  }
  *.p-t-xxl-3 {
    padding-top: calc(var(--gap-size) * 3);
  }
  *.p-r-xxl-0 {
    padding-right: 0;
  }
  *.p-r-xxl-1 {
    padding-right: var(--gap-size);
  }
  *.p-r-xxl-2 {
    padding-right: calc(var(--gap-size) * 2);
  }
  *.p-r-xxl-3 {
    padding-right: calc(var(--gap-size) * 3);
  }
  *.p-b-xxl-0 {
    padding-bottom: 0;
  }
  *.p-b-xxl-1 {
    padding-bottom: var(--gap-size);
  }
  *.p-b-xxl-2 {
    padding-bottom: calc(var(--gap-size) * 2);
  }
  *.p-b-xxl-3 {
    padding-bottom: calc(var(--gap-size) * 3);
  }
  *.p-l-xxl-0 {
    padding-left: 0;
  }
  *.p-l-xxl-1 {
    padding-left: var(--gap-size);
  }
  *.p-l-xxl-2 {
    padding-left: calc(var(--gap-size) * 2);
  }
  *.p-l-xxl-3 {
    padding-left: calc(var(--gap-size) * 3);
  }
  .flex-xxl {
    display: flex;
  }
  .text-xxl-left {
    text-align: left;
  }
  .text-xxl-center {
    text-align: center;
  }
  .text-xxl-right {
    text-align: right;
  }
  .order-xxl--1 {
    order: -1;
  }
  .order-xxl-0 {
    order: 0;
  }
  .order-xxl-1 {
    order: 1;
  }
  .order-xxl-2 {
    order: 2;
  }
  .order-xxl-3 {
    order: 3;
  }
  .order-xxl-4 {
    order: 4;
  }
  .order-xxl-5 {
    order: 5;
  }
  .order-xxl-6 {
    order: 6;
  }
  .order-xxl-7 {
    order: 7;
  }
  .order-xxl-8 {
    order: 8;
  }
  .order-xxl-9 {
    order: 9;
  }
  .order-xxl-10 {
    order: 10;
  }
}
    .language_switcher .dir-list-item, .translate_links .dir-list-item {
	display: inline-block;
	padding: 3px;
	text-transform: uppercase;
	font-size: 0.6em;
	font-family: Arial;
}

.language_switcher .list-selected, .translate_links .list-selected {
	background: #ddd;
}

.language_switcher_compact .dir-list-item{
	display: inline-block;
	text-transform: uppercase;	
}
    
.manager-tree li {
    display: block;
    padding-left: 20px;
    margin-left: 0;
    margin-top: 4px;
}
.manager-tree ul {
    padding: 0;
    margin: 0;
}
.manager-tree  li.expanded ul {
    margin-left: 4px;
    border-bottom: 1px solid #dedede;
}
.manager-tree li a {
    display: inline-block;
    padding: 3px;
    border-radius: 8px;
}
.manager-tree li a:hover {
    background-color: #ddd;
}

.manager-tree li a {
    text-decoration: none;
    padding-left: 18px;
}


.manager-tree li > a.has-children {
    background-image: url('plus.gif');
    background-repeat: no-repeat;
    background-position: center left;

}

.manager-tree li.expanded > a.has-children {
    border: 1px solid #ddd;
    background-image: url('minus.gif');
}

.manager-tree li.expanded > ul > li {
    border-left: 1px solid #ddd;
}

.manager-main-category {
    font-weight: bold;
}
    .message {
    border-bottom: 1px solid green;
    padding: 4px;
}

.message-severity-generic {
    background: #ddd;
}

.message-severity-warning {
    background: #fc7;
}

.message-severity-confirm {
    background: #afa;
}
    /** Qtags highlighting */
.qtag {
    font-family: "Courier new";
    font-size: 0.9em;
    background: #eee;
}

.qtag-name {
    font-weight: bold;
}

.qtag-target {
    color: #00a;
    font-weight: bold;
}
.qtag-attribute {
    color: #770;
    font-weight: bold;
}

.qtag  .qtag {
    background: #000;
    color: white;
}

.qtag .qtag .qtag-target {
    color: #0dd;
}
.qtag .qtag .qtag-attribute {
    color: #dd0;
}

    .go-home::before {
  display:inline;
  content: '\f015'; /* .fa-home */
  font-family:'fontawesome';  
}
    #shadow-outside {
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    display: none;
}


#shadow-inside {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.8;
    z-index: 90;
}

#shadow-image {
    position: relative;
    text-align: center;
    padding: 4px;
    background: white;
    z-index: 100;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 10px;
}

#shadow-image img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 200;
}

#shadow-text {
    color: white;
    position: relative;
    z-index: 200;
    text-align: center;
}

#shadow-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: black;
		font-family: "Droid Sans", "Roboto", "Arial" !important;
    text-align: center;
}

.shadow-content {
    padding: 20px;
    padding-top: 0;
    text-align: left;
    width: auto;
}

#edit-content, #edit-content-wrapper {
    width: 100%;
    min-height: 180px;
    display: block;
}

#edit-title, #edit-teaser {
    text-align: left;
    font-size: 1.2em;
    width: 70%;
    display: block;
}

#shadow-single {
    position: relative;
    background: white;
    margin: auto;
    display: inline-block;
    margin-top: 80px;
    z-index: 200;
    width: auto;
}

#shadow-titles {
    position: absolute;
    left: 5%;
    width: 18%;
    top: 8%;
    z-index: 700;
    text-align: center;
    overflow: hidden;
    height: 84%;
    background: #dadada;
    text-transform: uppercase;
    font-size: 12px;
}

#shadow-titles ul li.shadow-title {
    border-right: none;
    display: block;
    text-align: center;
    color: black;
}

#shadow-titles ul li.shadow-title.enabled {
    opacity: 1;
    background: white;
}
#shadow-titles ul li:hover {
    background: #f3f3f3;
}

#shadow-titles ul li a {
    display: block;
    padding: 10px;
    line-height: 24px;
    text-decoration: none !important;
    font-weight: bold;
    color: #777;
    font-size: 0.9em;
}

#shadow-titles ul li.shadow-title.enabled a {
    color: #005;
}
.shadow-contents {
    text-align: left;
    background: white;
    position: absolute;
    top:8%;
    z-index: 999;
    left:23%;
    width: 72%;
    min-height: 300px;
    height: 84%;
    overflow-y: auto;
}

.shadow-content {
    display: none;
}

.shadow-grouped-contents .shadow-content {
    display: block;
}

.shadow-content.enabled {
    display: block;
}

.shadow-hint {
    font-style: italic;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.shadow-contents {
    color: black;
}

.shadow-contents label {
    display: inline-block;
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    padding-right: 8px;
    border: none;
    padding-left: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    color: #444;
}


#edit-path {
    color: #aaa;
}

.edit-date-wrapper {
    width: 400px;
    height: 60px;

}

.edit-date-wrapper label {
    clear: both;
    float: left;

}

.Zebra_DatePicker_Icon_Wrapper {
    clear: left;
}
.edit-date-wrapper input {
    display: inline-block;
    position: static;
    float: left;
}

.description-row {
   padding-bottom:30px;
    padding-top: 8px;
    font-style: italic;
    font-size: 0.8em;
    color: #777;
}

#shadow-buttons {
    position: absolute;
    z-index: 1999;
    display: inline-block;
    bottom: 0;
    right: 0;

}

#shadow-buttons a {
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 15px;
    padding: 12px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial;
    text-align: left;
    line-height: 65px;
    margin-right: 15px;
    background: #f3f3f4;
    border: 1px solid #aaa
}


#shadow-buttons a:hover {
    opacity: 0.7;
    background: #fafafa;
}

.shadow-grouped-contents #shadow-buttons {
    position: relative;
    display: block;
    clear: both;
}

.shadow-content h2 {
    color: black;
    margin: 0;
    padding-bottom: 2px;
    margin-top: 10px;
    border-bottom: 2px dotted #ccc;
}

ul.shadow-titles-list {
    margin: 0;
    padding: 0;
}

#shadow-extra {
    float: right;
}

.shadow-submitted {
    opacity: 0.4 !important;
    cursor: none !important;
    pointer-events: none !important;
}

    
    #tooltip {
    display: none;
    position: absolute;
    background: #ffdda2;
    color: black;
    border-radius: 6px;
    padding: 6px;
    text-align: center;
    z-index: 9999;
    max-width: 350px;
}

    .user-anonymous .logged-only,
.user-anonymous .logout-link {
    display: none !important;
}

.user-logged .anon-only,
.user-logged .login-link,
.user-logged .register-link {
    display: none !important;
}

#shadow-login label {
    margin-top: 25px;
    margin-bottom: 5px;
    display: block;
    text-transform: uppercase;
}