.file-link-item {
    background-repeat: no-repeat;
    background-position: left center;
}

ul.file_admin  .progress-wrapper {
    position: absolute;
    right: -60px;
}
ul.file_admin .progressBar {
    border: 0;
    display: block;
    width: 45px;
    text-align: center;
    margin-left: 15px;
    margin-top: -20px;

}

.upload-files {
    width: 100%;
    position: relative;
    display: block;
}

.drop {
    background-color: #444;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #bbb;
}

.drop a {
    background-color: #007a96;
    padding: 12px 26px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-top: 24px;
    line-height: 1;
    display: block;
}

.drop a:hover {
    background-color: #0986a3;
}

.drop input {
    display: none;
}

.upload-files ul {
    list-style: none;
}

li.list-item {
    position: relative;
    z-index: 10;
    display: block;
}


.upload-files ul li p {
    width: 144px;
    white-space: nowrap;
}

.upload-files ul li i {
    font-weight: normal;
    font-style: normal;
    color: #7f7f7f;
    margin-left: 8px;
}

.upload-files ul li canvas {
    position: absolute;
    top: 4px;
    left: -24px;
}

.upload-files ul li.worked canvas {
    display: none;
}

.upload-files ul li span {
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    cursor: pointer;
    top: 7px;
    left: -20px;
}

.upload-files ul li.working span {
    height: 16px;
    background-position: 0 -12px;
}

.upload-files ul li.error p {
    color: red;
}


.file_admin .list-item-file_admin {
    position:relative;
    padding: 10px 10px 10px 60px;
    background:#f6f6f6;
    margin-bottom:10px;
}

.file_admin .list-item-file_admin:hover {
    background-color: #eee;
}

.file_admin .list-item-file_admin a {
    text-decoration: none;
    font-size: 12px;
}


.sort-handle{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:50px;
    background:#ddd;
    cursor:pointer;
    display:block;
    text-align:center;
}
.sort-handle::before{
    content:"";
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.sort-handle::after{
    content:"\f047"; /* fa-arrows */
    font-family: "FontAwesome";
    font-size:20px;
    line-height:20px;
    color:#333;
    display: inline-block;
    vertical-align: middle;    
}
.sort-handle:hover, 
.sort-handle:focus{
    background:#bbb;
}

a.file-link {
    padding-left: 25px;
}
.shadow-content a.file-link {
    display: inline-block;
    margin:10px;
    padding:0;
}

ul.file_admin {
    margin: 0;
    padding: 0;
}

ul.file_admin  li {
    display: block;
    margin-left: 0;
}

.file-document {
    background-image: url('../img/icons/doc.png');
}

.file-pdf {
    background-image: url('../img/icons/pdf.png');
}

.file-xml {
    background-image: url('../img/icons/xml.png');
}

.file-image {
    background-image: url('../img/icons/img.png');
}

.file-audio {
    background-image: url('../img/icons/audio.png');
}

.file-archive {
    background-image: url('../img/icons/zip.png');
}

.file-video {
    background-image: url('../img/icons/video.png');
}

.file-sheet {
    background-image: url('../img/icons/xls.png')
}

.selected-thumbnail {
    display: inline-block;
    color: #0a0;
    border: 1px solid #0a0;
    padding: 2px;
}

.file-preview {
    max-width: 150px;
    min-width: 80px;
    height: 80px;
    vertical-align: middle;
    display: inline-block;
    background: #eee;
    text-align: center;
    padding: 0;
}

.file-preview-item {
    border: 2px solid #ccc;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.file-preview-item.file-pdf {
    border-color: red;
}

.file-preview-item.file-document {
    border-color: #00bfff;
}

.file-preview img {
    max-width: 100%;
    max-height: 100%;
    display: inline;
}
.file-qtag {
    margin:0 10px 0 0;
}
.file-actions {
    display:inline-block;
}
.file-actions .set-thumbnail {
    margin-right:10px;
}
.file-actions .delete-file {
    color: red;
    text-decoration: none;
    font-weight: bold;
}