/* GRID: common elements (grid + flexbox fallback) */


/* VARIABLES */

:root {
  --gap-size: 15px;
  --size-1-col: calc(100% / 12);
  --size-2-col: calc(100% / 12 * 2);
  --size-3-col: calc(100% / 12 * 3);
  --size-4-col: calc(100% / 12 * 4);
  --size-5-col: calc(100% / 12 * 5);
  --size-6-col: calc(100% / 12 * 6);
  --size-7-col: calc(100% / 12 * 7);
  --size-8-col: calc(100% / 12 * 8);
  --size-9-col: calc(100% / 12 * 9);
  --size-10-col: calc(100% / 12 * 10);
  --size-11-col: calc(100% / 12 * 11);
  --size-12-col: 100%;
}



/* "three-rows" style: */
/* MAIN PAGE structure: */
/* header + #grid-main(max-height) + footer */

body.grid.three-rows {
  min-height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
  justify-content: initial;
}
body.grid.three-rows > * {
  flex-shrink: 0;
}
body.grid.three-rows #grid-main {
  flex-grow: 1;
}


/* GRID */

ul.grid {
  margin: 0;
  padding: 0;
}

.grid > img {
  width: 100%;
}


.grid > *.p-0,
.grid-container > .grid.p-0 {
  padding: 0;
}
.grid > *.p-1,
.grid-container > .grid.p-1 {
  padding: var(--gap-size);
}
.grid > *.p-2,
.grid-container > .grid.p-2 {
  padding: calc(var(--gap-size) * 2);
}
.grid > *.p-3,
.grid-container > .grid.p-3 {
  padding: calc(var(--gap-size) * 3);
}
.grid > *.p-x-0 {
  padding-left: 0;
  padding-right: 0;
}
.grid > *.p-x-1 {
  padding-left: var(--gap-size);
  padding-right: var(--gap-size);
}
.grid > *.p-x-2 {
  padding-left: calc(var(--gap-size) * 2);
  padding-right: calc(var(--gap-size) * 2);
}
.grid > *.p-x-3 {
  padding-left: calc(var(--gap-size) * 3);
  padding-right: calc(var(--gap-size) * 3);
}
.grid > *.p-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.grid > *.p-y-1 {
  padding-top: var(--gap-size);
  padding-bottom: var(--gap-size);
}
.grid > *.p-y-2 {
  padding-top: calc(var(--gap-size) * 2);
  padding-bottom: calc(var(--gap-size) * 2);
}
.grid > *.p-y-3 {
  padding-top: calc(var(--gap-size) * 3);
  padding-bottom: calc(var(--gap-size) * 3);
}


.flex {
  display: flex;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.align-items-start {
  align-items: start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: end;
}

.align-self-start {
  align-self: start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: end;
}




/* RESPONSIVE */

/* MOBILE FIRST */

.order--1 {
  order: -1;  
}
.order-0 {
  order: 0;  
}
.order-1 {
  order: 1;  
}
.order-2 {
  order: 2;  
}
.order-3 {
  order: 3;  
}
.order-4 {
  order: 4;  
}
.order-5 {
  order: 5;  
}
.order-6 {
  order: 6;  
}
.order-7 {
  order: 7;  
}
.order-8 {
  order: 8;  
}
.order-9 {
  order: 9;  
}
.order-10 {
  order: 10;  
}




/* md: Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .grid > *.p-md-0,
  .grid-container > .grid.p-md-0 {
    padding: 0;
  }
  .grid > *.p-md-1,
  .grid-container > .grid.p-md-1 {
    padding: var(--gap-size);
  }
  .grid > *.p-md-2,
  .grid-container > .grid.p-md-2 {
    padding: calc(var(--gap-size) * 2);
  }
  .grid > *.p-md-3,
  .grid-container > .grid.p-md-3 {
    padding: calc(var(--gap-size) * 3);
  }
  .grid > *.p-x-md-0,
  .grid-container > .grid.p-x-md-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .grid > *.p-x-md-1,
  .grid-container > .grid.p-x-md-1 {
    padding-left: var(--gap-size);
    padding-right: var(--gap-size);
  }
  .grid > *.p-x-md-2,
  .grid-container > .grid.p-x-md-2 { 
    padding-left: calc(var(--gap-size) * 2);
    padding-right: calc(var(--gap-size) * 2);
  }
  .grid > *.p-x-md-3,
  .grid-container > .grid.p-x-md-3 { 
    padding-left: calc(var(--gap-size) * 3);
    padding-right: calc(var(--gap-size) * 3);
  }
  .grid > *.p-y-md-0,
  .grid-container > .grid.p-y-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .grid > *.p-y-md-1,
  .grid-container > .grid.p-y-md-1 {
    padding-top: var(--gap-size);
    padding-bottom: var(--gap-size);
  }
  .grid > *.p-y-md-2,
  .grid-container > .grid.p-y-md-2 {
    padding-top: calc(var(--gap-size) * 2);
    padding-bottom: calc(var(--gap-size) * 2);
  }
  .grid > *.p-y-md-3,
  .grid-container > .grid.p-y-md-3 {
    padding-top: calc(var(--gap-size) * 3);
    padding-bottom: calc(var(--gap-size) * 3);
  }

  .flex-md {
    display: flex;
  }

  .text-md-left {
    text-align: left;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-right {
    text-align: right;
  }

  .order-md--1 {
    order: -1;  
  }
  .order-md-0 {
    order: 0;  
  }
  .order-md-1 {
    order: 1;  
  }
  .order-md-2 {
    order: 2;  
  }
  .order-md-3 {
    order: 3;  
  }
  .order-md-4 {
    order: 4;  
  }
  .order-md-5 {
    order: 5;  
  }
  .order-md-6 {
    order: 6;  
  }
  .order-md-7 {
    order: 7;  
  }
  .order-md-8 {
    order: 8;  
  }
  .order-md-9 {
    order: 9;  
  }
  .order-md-10 {
    order: 10;  
  }
}

/* lg: Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .grid > *.p-lg-0,
  .grid-container > .grid.p-lg-0 {
    padding: 0;
  }
  .grid > *.p-lg-1,
  .grid-container > .grid.p-lg-1 {
    padding: var(--gap-size);
  }
  .grid > *.p-lg-2,
  .grid-container > .grid.p-lg-2 {
    padding: calc(var(--gap-size) * 2);
  }
  .grid > *.p-lg-3,
  .grid-container > .grid.p-lg-3 {
    padding: calc(var(--gap-size) * 3);
  }
  .grid > *.p-x-lg-0,
  .grid-container > .grid.p-x-lg-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .grid > *.p-x-lg-1,
  .grid-container > .grid.p-x-lg-1 {
    padding-left: var(--gap-size);
    padding-right: var(--gap-size);
  }
  .grid > *.p-x-lg-2,
  .grid-container > .grid.p-x-lg-2 { 
    padding-left: calc(var(--gap-size) * 2);
    padding-right: calc(var(--gap-size) * 2);
  }
  .grid > *.p-x-lg-3,
  .grid-container > .grid.p-x-lg-3 { 
    padding-left: calc(var(--gap-size) * 3);
    padding-right: calc(var(--gap-size) * 3);
  }
  .grid > *.p-y-lg-0,
  .grid-container > .grid.p-y-lg-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .grid > *.p-y-lg-1,
  .grid-container > .grid.p-y-lg-1 {
    padding-top: var(--gap-size);
    padding-bottom: var(--gap-size);
  }
  .grid > *.p-y-lg-2,
  .grid-container > .grid.p-y-lg-2 {
    padding-top: calc(var(--gap-size) * 2);
    padding-bottom: calc(var(--gap-size) * 2);
  }
  .grid > *.p-y-lg-3,
  .grid-container > .grid.p-y-lg-3 {
    padding-top: calc(var(--gap-size) * 3);
    padding-bottom: calc(var(--gap-size) * 3);
  }

  .flex-lg {
    display: flex;
  }

  .text-lg-left {
    text-align: left;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-right {
    text-align: right;
  }

  .order-lg--1 {
    order: -1;  
  }
  .order-lg-0 {
    order: 0;  
  }
  .order-lg-1 {
    order: 1;  
  }
  .order-lg-2 {
    order: 2;  
  }
  .order-lg-3 {
    order: 3;  
  }
  .order-lg-4 {
    order: 4;  
  }
  .order-lg-5 {
    order: 5;  
  }
  .order-lg-6 {
    order: 6;  
  }
  .order-lg-7 {
    order: 7;  
  }
  .order-lg-8 {
    order: 8;  
  }
  .order-lg-9 {
    order: 9;  
  }
  .order-lg-10 {
    order: 10;  
  }
}



/* xl: Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .grid > *.p-xl-0,
  .grid-container > .grid.p-xl-0 {
    padding: 0;
  }
  .grid > *.p-xl-1,
  .grid-container > .grid.p-xl-1 {
    padding: var(--gap-size);
  }
  .grid > *.p-xl-2,
  .grid-container > .grid.p-xl-2 {
    padding: calc(var(--gap-size) * 2);
  }
  .grid > *.p-xl-3,
  .grid-container > .grid.p-xl-3 {
    padding: calc(var(--gap-size) * 3);
  }
  .grid > *.p-x-xl-0,
  .grid-container > .grid.p-x-xl-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .grid > *.p-x-xl-1,
  .grid-container > .grid.p-x-xl-1 {
    padding-left: var(--gap-size);
    padding-right: var(--gap-size);
  }
  .grid > *.p-x-xl-2,
  .grid-container > .grid.p-x-xl-2 { 
    padding-left: calc(var(--gap-size) * 2);
    padding-right: calc(var(--gap-size) * 2);
  }
  .grid > *.p-x-xl-3,
  .grid-container > .grid.p-x-xl-3 { 
    padding-left: calc(var(--gap-size) * 3);
    padding-right: calc(var(--gap-size) * 3);
  }
  .grid > *.p-y-xl-0,
  .grid-container > .grid.p-y-xl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .grid > *.p-y-xl-1,
  .grid-container > .grid.p-y-xl-1 {
    padding-top: var(--gap-size);
    padding-bottom: var(--gap-size);
  }
  .grid > *.p-y-xl-2,
  .grid-container > .grid.p-y-xl-2 {
    padding-top: calc(var(--gap-size) * 2);
    padding-bottom: calc(var(--gap-size) * 2);
  }
  .grid > *.p-y-xl-3,
  .grid-container > .grid.p-y-xl-3 {
    padding-top: calc(var(--gap-size) * 3);
    padding-bottom: calc(var(--gap-size) * 3);
  }

  .flex-xl {
    display: flex;
  }

  .text-xl-left {
    text-align: left;
  }
  .text-xl-center {
    text-align: center;
  }
  .text-xl-right {
    text-align: right;
  }

  .order-xl--1 {
    order: -1;  
  }
  .order-xl-0 {
    order: 0;  
  }
  .order-xl-1 {
    order: 1;  
  }
  .order-xl-2 {
    order: 2;  
  }
  .order-xl-3 {
    order: 3;  
  }
  .order-xl-4 {
    order: 4;  
  }
  .order-xl-5 {
    order: 5;  
  }
  .order-xl-6 {
    order: 6;  
  }
  .order-xl-7 {
    order: 7;  
  }
  .order-xl-8 {
    order: 8;  
  }
  .order-xl-9 {
    order: 9;  
  }
  .order-xl-10 {
    order: 10;  
  }  
}

/* xxl: XXL devices (very large desktops, 1440px and up) */
@media (min-width: 1440px) {

  .grid > *.p-xxl-0,
  .grid-container > .grid.p-xxl-0 {
    padding: 0;
  }
  .grid > *.p-xxl-1,
  .grid-container > .grid.p-xxl-1 {
    padding: var(--gap-size);
  }
  .grid > *.p-xxl-2,
  .grid-container > .grid.p-xxl-2 {
    padding: calc(var(--gap-size) * 2);
  }
  .grid > *.p-xxl-3,
  .grid-container > .grid.p-xxl-3 {
    padding: calc(var(--gap-size) * 3);
  }
  .grid > *.p-x-xxl-0,
  .grid-container > .grid.p-x-xxl-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .grid > *.p-x-xxl-1,
  .grid-container > .grid.p-x-xxl-1 {
    padding-left: var(--gap-size);
    padding-right: var(--gap-size);
  }
  .grid > *.p-x-xxl-2,
  .grid-container > .grid.p-x-xxl-2 { 
    padding-left: calc(var(--gap-size) * 2);
    padding-right: calc(var(--gap-size) * 2);
  }
  .grid > *.p-x-xxl-3,
  .grid-container > .grid.p-x-xxl-3 { 
    padding-left: calc(var(--gap-size) * 3);
    padding-right: calc(var(--gap-size) * 3);
  }
  .grid > *.p-y-xxl-0,
  .grid-container > .grid.p-y-xxl-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .grid > *.p-y-xxl-1,
  .grid-container > .grid.p-y-xxl-1 {
    padding-top: var(--gap-size);
    padding-bottom: var(--gap-size);
  }
  .grid > *.p-y-xxl-2,
  .grid-container > .grid.p-y-xxl-2 {
    padding-top: calc(var(--gap-size) * 2);
    padding-bottom: calc(var(--gap-size) * 2);
  }
  .grid > *.p-y-xxl-3,
  .grid-container > .grid.p-y-xxl-3 {
    padding-top: calc(var(--gap-size) * 3);
    padding-bottom: calc(var(--gap-size) * 3);
  }

  .flex-xxl {
    display: flex;
  }

  .text-xxl-left {
    text-align: left;
  }
  .text-xxl-center {
    text-align: center;
  }
  .text-xxl-right {
    text-align: right;
  }

  .order-xxl--1 {
    order: -1;  
  }
  .order-xxl-0 {
    order: 0;  
  }
  .order-xxl-1 {
    order: 1;  
  }
  .order-xxl-2 {
    order: 2;  
  }
  .order-xxl-3 {
    order: 3;  
  }
  .order-xxl-4 {
    order: 4;  
  }
  .order-xxl-5 {
    order: 5;  
  }
  .order-xxl-6 {
    order: 6;  
  }
  .order-xxl-7 {
    order: 7;  
  }
  .order-xxl-8 {
    order: 8;  
  }
  .order-xxl-9 {
    order: 9;  
  }
  .order-xxl-10 {
    order: 10;  
  }    
}
