/* UTILITIES */

main {
  text-align: left;
}


nav.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.menu a {
  display: block;
}
nav.menu.menu-vertical li {
  margin-left: 0;
  display: block;
}
nav.menu.menu-vertical li + li {
  margin-top: 10px;
}
nav.menu.menu-vertical a {
  display: initial;
}



header {
  display: flex;
  align-items: center;
}/*
header nav {
  margin-left: auto;
  text-align: right;
}*/
header nav.menu li {
  display: inline-block;
}
header nav.menu li + li {
  margin-left: 15px;
}
