#shadow-outside {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    display: none;
}


#shadow-inside {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.8;
    z-index: 90;
}


#shadow-image {
    position: relative;
    text-align: center;
    padding: 4px;
    background: white;
    z-index: 100;
    height: 80%;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 10px;
}

#shadow-image img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 200;
}

#shadow-text {
    color: white;
    position: relative;
    z-index: 200;
    text-align: center;
}

#shadow-item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.shadow-content {
    padding: 20px;
    text-align: left;
    font-family: Arial;
    width: auto;
}

#edit-content, #edit-content-wrapper {
    width: 100%;
    min-height: 180px;
    display: block;
}

#edit-title, #edit-teaser {
    text-align: left;
    font-size: 1.2em;
    width: 70%;
    display: block;
}

#shadow-single {
    position: relative;
    background: white;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
    display: inline-block;
    margin-top: 80px;
    z-index: 200;
    width: auto;
}

#shadow-login div {
    margin-bottom: 20px;
}

#shadow-login label {
    margin-right: 20px;
}

#shadow-inner {
    width: 73%;
    position: absolute;
    left: 22%;
    top: 5%;
    z-index: 500;
}

#shadow-titles {
    position: absolute;
    left: 4%;
    width: 18%;
    top: 12%;
    z-index: 700;
    text-align: center;
    overflow: hidden;
    padding: 1px;

}

#shadow-titles ul li.shadow-title {
    border: 1px solid #bbb;
    border-right: none;
    display: block;
    text-align: center;
    background: white;
    color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0.8;
    background: #fafafa;
    margin-bottom: 10px;
}

#shadow-titles ul li.shadow-title.enabled {
    opacity: 1;
    background: white;
}

#shadow-titles ul li a {
    display: block;
    padding: 10px;
    line-height: 24px;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color: #777;
    font-size: 0.9em;
}

#shadow-titles ul li.shadow-title.enabled a {
    color: #005;
}
.shadow-contents {
    text-align: left;
    background: white;
    position: absolute;
    top:8%;
    z-index: 999;
    left:22%;
    width: 70%;
    border-radius: 30px;
    min-height: 300px;


}
.shadow-content {
    display: none;
}

.shadow-content.enabled {
    display: block;
}

.shadow-hint {
    font-style: italic;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
}

#shadow-form label {
    display: inline-block;
    margin: 0;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background: #999;
    color: white;
    border-top-right-radius: 4px;

}


#edit-path {
    color: #aaa;
}

.shadow-content  input {
    margin-bottom: 8px;
    margin-left: 8px;
    font-size: 1em;
}


.edit-date-wrapper {
    width: 400px;
    height: 60px;

}

.edit-date-wrapper label {
    clear: both;
    float: left;

}

.Zebra_DatePicker_Icon_Wrapper {
    clear: left;
}
.edit-date-wrapper input {
    display: inline-block;
    position: static;
    float: left;
}

.description-row {
   padding-bottom:30px;
    padding-top: 8px;
    font-style: italic;
    font-size: 0.8em;
    color: #777;
}



.selected-thumbnail {
    display: inline-block;
    background: green;
    color: yellow;
}

#show-thumbnail {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background: #ddd;
    width: 150px;

}

#show-thumbnail span {
    width: 150px;
    height: 150px;
    display: block;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
}


#show-thumbnail img {
    width: 100%;
}

#shadow-buttons {
    position: relative;
    z-index: 1999;
    display: inline-block;
    margin-left: 4%;
}

#shadow-buttons a {
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 15px;
    padding: 12px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial;
    text-align: left;
    line-height: 65px;
    margin-right: 15px;
    background: #f3f3f4;
    border: 1px solid #aaa
}


#shadow-buttons a:hover {
    opacity: 0.7;
    background: #fafafa;
}
