#tooltip {
    display: none;
    position: absolute;
    background: #ffdda2;
    color: black;
    border-radius: 6px;
    padding: 6px;
    text-align: center;
    z-index: 9999;
    max-width: 350px;
}
