.search-result {
    margin-top: 20px;
    border-top: 1px dashed #bbb;
    padding: 15px;
    margin: 0;
}

.search-results {
    text-align: left;
}
.search-result-match {
    color: green;
    font-weight: bold;
    background: #ffa;
}

.search-result-file {
    color: #888;
}


.search-results-total {
    padding-top: 10px;
    border-top: 1px solid black;
}