#shadow-outside {
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 80;
    display: none;
    background: rgba(0, 0, 0, 0.8);
}

#shadow-item {
    grid-template-rows: auto 1fr; /* content (2nd element) has always maximum height */
    color: black;
    height: 100%;
	font-family: "Arial" !important;
}

.shadow-inside .inner, #shadow-contents {
    background: #fff;
    padding: 10px;
}

#edit-content, #edit-content-wrapper {
    width: 100%;
    min-height: 180px;
    display: block;
}

#edit-title, #edit-teaser {
    text-align: left;
    font-size: 1.2em;
    width: 70%;
    display: block;
}

#shadow-single {
    position: relative;
    background: white;
    margin: auto;
    display: inline-block;
    margin-top: 80px;
    z-index: 200;
    width: auto;
}

#shadow-titles {
    text-align: center;
    background: #dfdfdf;
    text-transform: uppercase;
    font-size: 1em;
}

#shadow-titles a.shadow-title {
    border-right: none;
    display: block;
    text-align: center;
    color: #333333;
    display: block;
    text-decoration: none !important;
    font-size: 0.7em;
    font-weight: bold;

    /* mobile */
    float: left;
    width: 50%;
}

#shadow-titles a.shadow-title.enabled {
    opacity: 1;
    background: white;
}
#shadow-titles a.shadow-title:hover {
    background: #f3f3f3;
}

#shadow-titles a.shadow-title.enabled a {
    color: #005;
}

.shadow-grouped-contents .shadow-content {
    display: block;
}

#shadow-contents {
    min-height: 0;
    overflow: auto;
}

#shadow-contents .shadow-content {
    display: none;
}

#shadow-contents .shadow-content.enabled {
    display: block;
}

#shadow-contents .shadow-content.hidden {
    display: none;
}

.shadow-description {
   padding-bottom: 20px;
    padding-top: 20px;
    font-style: italic;
    font-size: 0.8em;
    color: #555;
}

#shadow-tabs #shadow-buttons {
    position: absolute;
    z-index: 1999;
    display: inline-block;
    bottom: 20px;
    right: 0;
}

#shadow-single #shadow-buttons {
    text-align: right;
}

#shadow-buttons a {
    display: inline-block;
    font-size: 17px;
    text-decoration: none;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Arial;
    background: #f3f3f4;
    border: 1px solid #aaa
}
#shadow-buttons a + a {
    margin-left: 15px;
}
#shadow-buttons a:hover {
    background: #ddd;
}

.shadow-grouped-contents #shadow-buttons {
    position: relative;
    display: block;
    clear: both;
}

.shadow-content h2 {
    color: black;
    margin: 0;
    padding-bottom: 2px;
    margin-top: 10px;
    border-bottom: 2px dotted #ccc;
}

#shadow-extra {
    float: right;
}

.shadow-submitted {
    opacity: 0.4 !important;
    cursor: none !important;
    pointer-events: none !important;
}

/* md: Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    #shadow-item {
        grid-template-rows: 1fr; /* tabs & content (1st & 2nd element) has always maximum height */
    }

    #shadow-titles a.shadow-title {
        float: none;
        width: 100%;
    }
}