.node-item{
  width:100%;
}

.slide {
  width: 100%;
	height: 560px;
	padding: 10px;
}

.slide-text {
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  text-align: center;
  display: none;
}

.slide-content {
  width: 100%;
}
.slide-title {
  opacity: 0.8;
  position: absolute;
  bottom: 25px;
  left: 0;
  background: white;
  text-align: center;
  width: 100%;
  padding: 15px;
  font-size: 30px;
  line-height: 40px;
}

.slide-img img {
  min-width: 100%;
  min-height: 100%;

}

.flickity-page-dots {
  bottom: 20px;
}

@media all and (max-width:600px) {
  .slide {
    height: 300px;
  }
}

@media all and (max-width:450px) {
  .slide {
    height: 200px;
  }
  .slide-title {
    font-size: 18px;
    line-height: 22px;
    bottom: -18px;
  }

  .flickity-page-dots {
    bottom: 0;
  }
}

.flickity-link {
	text-decoration: none;
}

.flickity-slider .node-item {
  width: 100%;
}
