.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-box {
    clear: left;
}

.centered-box {
    float: none;
    margin: auto;
}

.box > .inner {
    overflow: hidden;
}

/* > 600px */
@media all and (max-width:861px) {
    .w-50-75, .w-75-100, .w-50, .w-75 {
        width: 100% !important;
    }

    .w-0-25, .w-25-50 {
        width: 50% !important;
    }

    .box, .box > .inner {
        min-height: 0 !important;
        height: auto !important;
        overflow-y: visible;
    }
}

/* > 600px */
@media all and (max-width:641px) {
    .w-0-25 {
        width: 100% !important;
    }

    .box > .inner {
        height: auto !important;
        min-height: 0 !important;
    }
}

.box img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
