body {
    font-size: 18px;
    line-height: 26px;
}

/* Main content */
#content > .inner {
    background: #ffffff;
    border-width: 0;
}

/* H1 headers */
h1 {
    padding-top: 16px;
    padding-bottom: 16px;
}

h2 {
    padding-top: 12px;
    padding-bottom: 12px;
}
#home-block-bottom-left .inner {
    margin: 10px;
    paddding: 10px;
    background: #dddddd;
}

#home-block-bottom-right .inner {
    margin: 10px;
    paddding: 10px;
    background: #dddddd;
}

#sub-a .inner, #sub-b .inner, #sub-c .inner {
    background: #fafafa;
}

#sub-d .inner {
    background: #aaaafa;
}

#info-log-as-admin .inner {
    text-align: left;
    background: #f6a828;
}

#jumper-examples {
    margin-bottom: 20px;
}

a {
    color: #3a6aff;
    text-decoration: underline;
}

.section-all_examples #content {
    text-align: left;
}

ul.list-tree li {
    margin-left: 15px;
    display: list-item;
}

.testing-box .inner {
    border: 1px solid black;
    padding: 20px;
    background: #ddd !important;
    margin: 20px;
    font-family: "Courier", "Courier New";
    font-size: 14px;
}
