/* GENERAL */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    color: #333;
    font-weight: bold;
}

/* HEADER */

header {
    background: #f3f3f3;
}

header nav a {
    color: #666;
    text-transform: uppercase;
    padding: 5px;
}

/* 1st SIDE */

#side-first {
    background: #fffacd;
}

/* 2nd SIDE */

#side-second {
    background: #f4f8ff;
}

/* FOOTER */

footer {
    background: #666;
    color: #eee;
}

footer a {
    color: #fff;
}

.footer-end {
    background: #555;
    color: #bbb;
}

.footer-end a {
    color: #ddd;
}

/* SMALL STYLING FOR EXAMPLES */

.content-blog {
    margin-top: 30px;
}

.blog-thumb {
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-blog-item {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.blog-preview {
    margin-bottom: 10px;
}

.blog-title {
    padding: 10px;
    font-size: 1.4em;
}

h1 {
    margin-bottom: 20px;
}

body.page-animals {
    background: url(https://t3.ftcdn.net/jpg/01/01/56/18/240_F_101561831_VwcFxxCBpUqBxpppW8abJmcNOKOXzUOL.jpg);
}

body.page-fruits {
    background: #fff2c9;
}

body.page-animals main > div,
body.page-fruits main > div{
    background: #fff;
}

body.page-animals .content-blog {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #aaa;
}

#footer-3 {
    background: #6f6f6f;
}

.hidden{
    display: none;
}