body {
    font-size: 18px;
    line-height: 26px;
    background: green;
}

/* Main content */
#content > .inner {
    background: #ffffff;
    border-width: 0;
}

/* H1 headers */
h1 {
    padding-top: 16px;
    padding-bottom: 16px;
}

h2 {
    padding-top: 12px;
    padding-bottom: 12px;
}

a {
    color: #3a6aff;
    text-decoration: underline;
}

#sidebar_left  {
    background: #666666;
}


#sidebar_right  {
    background: #00aa00;
}
#content_body {
    background: #eeeeee;
}

#header {
    background: #fafafa;
}
#logo {
    background: #ffe9b1;
}
#promo {
    background: #f0ad4e;
}
