
a.gallery-thumb {
    display: inline-block;
    margin: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    vertical-align: top;
    width: 160px;
    text-align: center;
}

a.gallery-thumb .thumb-container {
}
a.gallery-thumb img {
    min-width: 100%;
    min-height: 100%;
}
a.gallery-thumb .gallery-item-title {
    padding-top: 8px;
    font-size: 80%;
    line-height: 100%;
}

#gallery-close{
    position:fixed;
    top:15px;
    right:15px;
    font-size:30px;
    color:#fff;
    z-index: 100;
    opacity:0.9;
}
#gallery-close:hover{
    opacity:1;
}

ul.list-gallery{
    margin:0;
}