
a.gallery-thumb {
    display: inline-block;
    font-size: 80%;
    line-height: 140%;
    margin: 16px;
    border: 1px solid #888;
    padding: 8px;
    padding-top: 14px;
    vertical-align: bottom;
    width: 150px;
    text-align: center;
}

a.gallery-thumb img {
    margin-top: 0px;
    min-width: 100%;
    min-height: 100%;
}

a.gallery-thumb .thumb-container {
    width: 140px;
    height: 140px;
    overflow: hidden;
    vertical-align: top;
    margin: auto;
    margin-bottom: 12px;
    position: relative;
    display: block;
    text-align: center;
}
