amp-carousel {
  margin-bottom: -17px !important; /* workaround for padding bottom */
}
amp-carousel .slide .cover img{
  object-fit: cover;
}
amp-carousel .slide .align-top img{
  object-position: 50% 0; /* center top */
}
amp-carousel .slide .caption {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}
amp-carousel .slide .caption a {
  color: #fff;
}
.link-image {
  line-height:0; /* Remove extra-height */ 
}


/* style menu buttons like links */
button[on] {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* AMP SIDEBAR */
amp-sidebar {
  background: #fff;
}
amp-sidebar .amp-close-sidebar {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 20px;
}
amp-sidebar ul li {
  padding: 5px;
}