.form-item-disabled {
    color: #bbb;
}

.validation-error {
    color: white;
    background: #ee0000;
    padding: 5px;
    margin: 8px;
    font-size: 0.5em;
    font-family: "Verdana";
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

div.has-validation-errors {
    border-style: dashed;
    border-width: 1px;
    border-color: #ee0000;
    padding: 8px;

}

.has-validation-errors label {
    color: red;
}

.has-validation-errors input, .has-validation-errors select, .has-validation-errors textarea {
    border-color: red;
}

.form-item-required {
    color: red;
}

.form-item-add {
    color: green;
}

.form-item-remove {
    color: red;
}

.form-item-wrapper {
    position: relative;
}

.form-item {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
}

.form-item-multiple-wrapper {
display: flex;
}
.form-item-select.form-item-multiple {
text-align: left;
}

.form-item-add, .form-item-remove {
    padding: 6px;
    text-align: center;
    display: inline-block;
    width: 30px;
border-radius: 20px;
border: 1px solid #aaa;
margin-left: 5px;
font-size: 16px;
padding: 0;
margin-bottom: 10px;
}

.form-item-add:hover, .form-item-remove:hover {
opacity: 0.6;
cursor: pointer;
}

.form-item-multiple {
margin-bottom: 10px;
}

.form-item.required label:after {
    content: " *";
    color: red;
}


.form-item-label {
 display: block;
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.ck-voice-label {
display: none;
}

.password-input-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); 
    cursor: pointer;
    padding-right: 6px;
    display: flex;
}
.form-item-checkbox{
    display: flex;
    gap: 75px;
}

/* Star Rating */

.form-item-rating{
    border: unset;
}

.star-rating {
    direction: rtl;
    display: inline-block;
    font-size: 2em;
    color: #ccc;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .star-rating input {
    display: none;
  }
  
  .star-rating label {
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;
    font-size: 30px;
  }
  
  /* Fill the stars on hover */
  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color: #f5b301;
  }
  
  /* Fill the stars on selection */
  .star-rating input:checked ~ label {
    color: #f5b301;
  }
  
  /* Ensure all previous stars are filled when a star is selected */
  .star-rating input:checked ~ label,
  .star-rating input:checked ~ label ~ label {
    color: #f5b301;
  }