.form-item-disabled {
    color: #bbb;
}

.validation-error {
    color: white;
    background: #ee0000;
    padding: 5px;
    margin: 8px;
    font-size: 0.5em;
    font-family: "Verdana";
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

div.has-validation-errors {
    border-style: dashed;
    border-width: 1px;
    border-color: #ee0000;
    padding: 8px;

}

.has-validation-errors label {
    color: red;
}

.has-validation-errors input, .has-validation-errors select, .has-validation-errors textarea {
    border-color: red;
}

.form-item-required {
    color: red;
}

.form-item-add {
    color: green;
}

.form-item-remove {
    color: red;
}

.form-item-wrapper {
    position: relative;
}

.form-item {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #333;
}

.form-item-multiple-wrapper {
display: flex;
}
.form-item-select.form-item-multiple {
text-align: left;
}

.form-item-add, .form-item-remove {
    padding: 6px;
    text-align: center;
    display: inline-block;
    width: 30px;
border-radius: 20px;
border: 1px solid #aaa;
margin-left: 5px;
font-size: 16px;
padding: 0;
margin-bottom: 10px;
}

.form-item-add:hover, .form-item-remove:hover {
opacity: 0.6;
cursor: pointer;
}

.form-item-multiple {
margin-bottom: 10px;
}

.form-item.required label:after {
    content: " *";
    color: red;
}


.form-item-label {
 display: block;
  margin-bottom: 4px;
  margin-top: 8px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}

.ck-voice-label {
display: none;
}



.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}