.form-item-disabled {
    color: #bbb;
}

.validation-error {
    color: white;
    background: #ee0000;
    padding: 5px;
    margin: 8px;
    font-size: 0.5em;
    font-family: "Verdana";
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}

div.has-validation-errors {
    border-style: dashed;
    border-width: 1px;
    border-color: #ee0000;
    padding: 8px;

}

.has-validation-errors label {
    color: red;
}

.has-validation-errors input, .has-validation-errors select, .has-validation-errors textarea {
    border-color: red;
}

.form-item-required {
    color: red;
}

.form-item-add {
    color: green;
}

.form-item-remove {
    color: red;
}

.form-item-wrapper {
    position: relative;
}

.form-item {
    font-size: 0.8em;
}

.form-item.required label:after {
    content: " *";
    color: red;
}


.form-item-label {
    margin: 0;
    margin-top: 10px;
    font-weight: bold;
    padding-right: 8px;
    border: none;
    padding-left: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    color: #444;
    margin-bottom: 8px;
}
