.box .inner {
    position: relative;
}

.node-item {
    position: relative;
}
.node-item .node-item-actions {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    text-align: right;
    background: #ffffff !important;
    border-radius: 5px;
    padding: 5px !important;
		margin: 0 !important;
    z-index: 1000 !important;
    height: 20px !important;
		line-height: 20px;
    vertical-align: middle;
}

.node-item-actions a {
    font-family: Arial;
    font-size: 16px !important;
    display: inline-block !important;
    margin-left: 8px;
    text-decoration: none;
		background: transparent !important;
    height: 20px !important;
		line-height: 20px !important;
    padding: 0 !important;
		margin: 0 !important;
		margin-left: 5px !important;
		margin-right: 5px !important;
}

#edit_title {
    width: 100%;
}

.fr-box.fr-basic .fr-element {
    height: 250px;
}

#edit_teaser {
    width: 100%;
}

a.add-link {
    color: #00aa00;
    margin: 3px;
    text-decoration: none;
}

a.edit-link {
    color: #000000;
    margin: 3px;
    text-decoration: none;
}

a.delete-link {
    color: #aa0000;
    margin: 3px;
    text-decoration: none;
}

.node-item-actions a:hover {
    background: transparent !important;
}
