.go-home::before {
  display:inline;
  content: '\f015'; /* .fa-home */
  font-family:'fontawesome';  
}

ul.breadcrumb li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
* {
  --scrollbar-track-color:#D0D5DD;
  --scrollbar-thumb-color:#EBEEF3;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-track-color) var(--scrollbar-thumb-color);
}
